@charset "utf-8";

/*=========header=========*/
header {position: fixed; left:0; top:0; width:100%; z-index: 999999999; background: #fff;}
header .header_inner{position: relative; max-width:1170px; width:100%; margin:0 auto; padding:10px; height: 50px; box-sizing: border-box;}
header .header_inner:after {content:''; display: inline-block; clear: both;}
header .logo {float: left;}
header .logo a:before{content:''; display: inline-block;width:162px; height: 26px;background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/logo.svg') no-repeat; background-size: 162px auto;  }
header .gnb {float: right;}
header .gnb_cont {display:inline-block; /*margin-right: 60px ;*/ vertical-align: top;}
header .gnb_cont ul{float: left;}
header .gnb_cont .gnb_menu_item {position: relative;display:inline-block; padding:0px;box-sizing: border-box;}
header .gnb_cont .gnb_menu_item + .gnb_menu_item {margin-left: 50px;}
header .gnb_cont .gnb_menu_item a{padding-bottom: 13px;font-size: 14px; box-sizing: border-box; }
header .gnb_cont .sub_menu_wrap {display: none;position: absolute; right:0; top:35px;z-index:100;}
header .gnb_cont .gnb_menu_item:last-child .sub_menu_wrap .sub_menu{width:230px;} 
header .gnb_cont .sub_menu{width: max-content;min-width: 200px; margin-top: 5px; padding:25px 10px 25px 10px;border:1px solid #e5e5e5; border-radius:10px; background: #fff; color:#8B8989; box-sizing: border-box; }
header .gnb_cont .sub_menu_item {margin-bottom: 25px; line-height: 1;}
header .gnb_cont .sub_menu_item:last-child {margin-bottom: 0px;}
header .gnb_cont .sub_menu_item a:hover {color:#F2B41B;}
header .gnb_cont .gnb_menu_item:hover > a{border-bottom: 3px solid #F2B41B; color:#F2B41B;}
header .gnb_etc {display: inline-block;}
header .gnb_etc ul{float: left;}
header .gnb_etc li{float: left;}
header .gnb_etc li + li{margin-left: 5px;}
header .gnb_etc .btn_type_01 {min-width: 90px;}
header .gnb_etc .btn_type_01:first-child {margin-right: 5px;}
header .gnb_etc .btn_search {display: inline-block; padding:5px;}
header .gnb_etc .btn_search:before{content:''; display: inline-block;width:20px; height: 21px;background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/seach_icon.svg') no-repeat; background-size: 20px auto;  }

.mobile_nav_wrap.opened .ch_flags_container {
	margin-left: 0px;
    margin-top: 20px;
}

/*=========footer=========*/
/* footer {margin-top: 80px;} */
footer .footer_inner{border-top: 1px solid #E5E5E5; }
footer .footer_info_wrap {overflow: hidden; width:100%; max-width:1170px; margin:0 auto; padding:30px 0 50px; border-bottom: 1px solid #E5E5E5;font-size: 0;}
footer .footer_logo {display: inline-block; width:17%; vertical-align: top;}
footer .footer_logo a{display: block;}
footer .footer_sitemap{display: inline-block; width:81%; padding-left:2%;}
footer .footer_sitemap .footer_sitemap_menu{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; justify-content: space-between; overflow: hidden;}
footer .footer_sitemap .footer_sitemap_menu a{display: block;font-size: 16px; letter-spacing: 0px;}
footer .footer_sitemap .footer_sitemap_menu ul a{font-size: 14px;}
footer .footer_sitemap .footer_menu_item li {margin-top: 30px;}
footer .footer_sitemap .footer_menu_item--go li {margin-top: 30px;}
footer .footer_etc_wrap .footer_etc{overflow: hidden; width:100%; max-width:1170px; margin:0 auto; padding:19px 0 15px;}
footer .footer_etc_wrap .copyright {float: left; line-height: 30px;}
footer .footer_sns_menu {float: right;}
footer .footer_sns_menu li {display: inline-block;vertical-align: top;}
footer .footer_sns_menu li a{display: inline-block; width:30px; height: 30px;}
footer .footer_sns_menu .sns_icon_y a{background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/f_youtube_icon.svg') no-repeat;}
footer .footer_sns_menu .sns_icon_f a{background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/f_facebook_icon.svg') no-repeat;}
footer .footer_sns_menu .sns_icon_i a{background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/f_instagram_icon.svg') no-repeat;}
footer .footer_sns_menu .sns_icon_l a{background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/f_linkedin_icon.svg') no-repeat;}


/* mobile header */
.mobile_nav_wrap {position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; opacity: 0; visibility: hidden; background: rgba(0, 0, 0, 0.8);}
.mobile_nav { background: #fff;width: 80vw;position: absolute;top: 0;right: 0;bottom: 0;-webkit-transform: translateX(100%);-moz-transform: translateX(100%);-ms-transform: translateX(100%);-o-transform: translateX(100%);transform: translateX(100%);display: flex;flex-direction: column; transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);}
.mobile_nav_header {position: relative; padding:10px; text-align: right;}
.mobile_nav_header .btn_close_menu {display: inline-block; padding:5px 0;}
.mobile_nav_header .btn_close_menu:before {content:''; display: inline-block; width:24px; height:2px;  background: #000;transform: rotate(-45deg); vertical-align: middle; }
.mobile_nav_header .btn_close_menu:after{content:''; display: inline-block; width:24px; height:2px; position: absolute; right:10px; top:24px; background: #000;transform: rotate(45deg); }
.mobile_nav_body {margin-top: 10px; max-height: 80%; overflow-y: auto;}
.mobile_nav_body .gnb_menu_item a{position: relative;display: block; padding:10px 20px; font-size: 16px; font-weight: 700;}
.mobile_nav_body .gnb_menu_item--go a{position: relative;display: block; padding:10px 20px; font-size: 16px; font-weight: 700; border-bottom: 1px solid #ddd;}
.mobile_nav_body .gnb_menu_item--go > a:before {content:''; display: inline-block;width:10px; height: 1px; background: #000; position: absolute; right:13px; top:16px; transform: rotate(45deg);}
.mobile_nav_body .gnb_menu_item--go > a:after {content:''; display: inline-block;width:10px; height: 1px; background: #000; position: absolute; right:13px; top:23px; transform: rotate(-45deg);}
.mobile_nav_body .sub_menu{background: #f0f0f0;}
.mobile_nav_body .sub_menu a{font-size: 14px; color:#333; font-weight: 400;}
.mobile_nav_footer {position: fixed; width:100%; height: 50px; bottom:0; left:0; font-size: 0;}
.mobile_nav_footer a {display: inline-block; width:50%; padding:15px 0; text-align: center; border: 1px solid #F2B41B; background: #F2B41B; color:#fff; box-sizing: border-box;}
.mobile_nav_footer a + a{background: #fff; color:#F2B41B; border-right: 0;}
.mobile_nav_wrap.opened {z-index: 999999;opacity: 1; visibility: visible;}
.mobile_nav_wrap.opened .mobile_nav{transform: translateX(0);}
.mobile_nav_body .gnb_menu_item.on > a:before {transform: rotate(-135deg);}
.mobile_nav_body .gnb_menu_item.on > a:after {transform: rotate(135deg);}

/*===================== dark mode ======================*/
.dark header {background: #000; color:#fff;}
.dark header .logo a:before {background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/logo_w.svg') no-repeat; }

@media screen and (max-width:1200px) {
	header .header_inner {padding:10px 40px;}
	header .gnb_cont {margin-right: 30px;}
	header .gnb_cont .gnb_menu_item + .gnb_menu_item {margin-left: 30px;}
	footer .footer_logo {width:100%; padding:0 40px;}
	footer .footer_logo a{width:300px;}
	footer .footer_info_wrap {padding:15px 0 10px;}
	footer .footer_sitemap {width:100%; margin-top: 20px; padding-left:0;}
	footer .footer_sitemap .footer_sitemap_menu {padding:20px 40px; border-top: 1px solid #E5E5E5;}
	footer .footer_etc_wrap {padding:0 40px;}
}
@media screen and (max-width:1000px) {
	header.fixed {position: fixed;left:0; top:0; width:100%;border-bottom: 1px solid #ddd; z-index: 99999999;}
	header .gnb_cont {display: none;position: absolute;  width: 100%; left:0; margin-right: 0;top: 50px; border-top: 1px solid #000; background: #fff; z-index: 10;}
	header .gnb_cont ul {float: none;}
	header .gnb_cont .gnb_menu_item{width:100%;padding:0;}
	header .gnb_cont .gnb_menu_item + .gnb_menu_item {margin-left: 0;}
	header .gnb_cont .gnb_menu_item a{padding:20px; font-size: 16px; font-weight: 700;}
	header .gnb_etc li {float: left;}
	header .gnb_etc li + li {margin-left: 10px;}
	header .gnb_etc ul li:nth-child(2),
	header .gnb_etc ul li:nth-child(3) {display: none;}
	header .m_gnb_menu {display:block; width:30px; height: 30px;} 
	header .m_gnb_menu a{position: relative;display:block; padding:15px;}
	header .m_gnb_menu a i{display: block; width:24px;position: absolute; left:3px; top:6px; height: 2px; background: #F2B41B;}
	header .m_gnb_menu a i:before {content:''; display: block; margin:8px 0 5px; width:24px; height: 2px; background: #F2B41B;}
	header .m_gnb_menu a i:after {content:''; display: block; width:24px; height: 2px; background: #F2B41B;}
	
	footer .footer_info_wrap {border-bottom: 0;}
	footer .footer_sitemap .footer_sitemap_menu {display: block;padding:0;}
	footer .footer_sitemap .footer_menu_item { width:100%;}
	footer .footer_sitemap .footer_menu_item li {margin-top: 0;}
	footer .footer_sitemap .footer_menu_item--go li {margin-top:0; }
/*	footer .footer_sitemap .footer_menu_item ul {display: none;}*/
	footer .footer_sitemap .footer_sitemap_menu {border-top: 1px solid #E5E5E5;}
	footer .footer_sitemap .footer_sitemap_menu a {position: relative;padding:15px 40px; border-bottom: 1px solid #E5E5E5;}
	footer .footer_sitemap .footer_sitemap_menu .footer_menu_item--go > a:before {content:''; display: inline-block; width:15px; height: 2px; position: absolute; right:40px; top:20px; background: #000; transform: rotate(45deg);}
	footer .footer_sitemap .footer_sitemap_menu .footer_menu_item--go > a:after {content:''; display: inline-block; width:15px; height: 2px; position: absolute; right:40px; top:30px; background: #000; transform: rotate(-45deg);}
	footer .footer_sitemap .footer_menu_item.on > a:after {content: none;}
	footer .footer_sitemap .footer_sitemap_menu ul a {background: #f1f1f1;}
	footer .footer_etc_wrap .copyright {float: none;}
	footer .footer_sns_menu {float: none;margin-top: 10px;}
	
	/*===================== dark mode ======================*/
	.dark header {border-bottom: 0;}
}
@media screen and (max-width: 768px) and (orientation: portrait){
	footer .footer_info_wrap{padding:15px 0;}
	footer .footer_logo {padding:0 20px;}
	footer .footer_logo a{width:200px;}
	footer .footer_sitemap .footer_sitemap_menu a {padding:10px 20px;}
	footer .footer_sitemap .footer_sitemap_menu .footer_menu_item--go > a:before {right:20px; top:15px;}
	footer .footer_sitemap .footer_sitemap_menu .footer_menu_item--go > a:after {right:20px; top:25px;}
}
@media screen and (max-width: 640px){
	header .header_inner {padding:10px 20px;}
}

@media screen and (max-width: 320px){
}
