
/*=========common Layout=========*/
.wrap {min-width: 320px; position: relative;}
.vn{font-family: 'Oswald', sans-serif !important;}

/*======================== text layout ==============================*/
.title_r_00 {font-family: 'roboto'; font-size: 72px; font-weight: 800;}
.title_r_00 *{font-family: 'roboto'; font-size: 72px; font-weight: 800;}
.title_r_01 {font-family: 'roboto'; font-size: 51px; font-weight: 800;}
.title_r_01 *{font-family: 'roboto'; font-size: 51px; font-weight: 800;}
.title_r_02 {font-family: 'roboto'; font-size: 30px; font-weight: 800;}
.title_r_02 *{font-family: 'roboto'; font-size: 30px; font-weight: 800;}
.title_r_03 {font-family: 'roboto'; font-size: 20px; font-weight: 800;}
.title_r_03 *{font-family: 'roboto'; font-size: 20px; font-weight: 800;}
.title_r_03--gray {font-family: 'roboto'; font-size: 20px; color:#8B8989; font-weight: 800;}
.title_r_03--gray *{font-family: 'roboto'; font-size: 20px; color:#8B8989; font-weight: 800;}

.t_yellow {color:#F2B41B;}

.text {font-size: 14px; color:#000; word-break:break-word; padding: 10px 20px;}
.text--gray {font-size: 14px; color:#8B8989; word-break:break-word;}
.dsec {font-size: 16px; color:#000; word-break:break-word;}

/*=============================btn_type===========================*/
.btn_box--right {text-align: right;}
.btn_box--center {text-align: center;}

.btn_type_01 {display: inline-block; padding:5px 26px 7px; border: 1px solid #F2B41B; color:#F2B41B; font-size: 14px; line-height: 1.2; border-radius: 30px; transition:all .5s;}
.btn_type_01:hover { background: #F2B41B; color:#fff; border: 1px solid #F2B41B;}
.btn_type_01.view {padding:10px 26px;}
.btn_type_01.yellow {background: #F2B41B; color:#3a3a3a;}
.btn_type_01.yellow:hover {background:#000; color:#fff; border: 1px solid #000;}

.btn_type_01--sec {position: relative;display: block; width: 170px; height: 50px; padding:15px 0; text-align: center; border: 1px solid #F2B41B; background: #F2B41B; color:#3a3a3a; font-size: 14px; line-height: 1.2; border-radius: 30px; box-sizing: border-box; transition: all .5s;}
.btn_type_01--sec:hover {background: #000; color:#fff; border: 1px solid #000;}
.btn_type_01--sec .btn_inner {width:100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 16px;} 
.btn_type_01--sec.yellow {background: #fff; border: 1px solid #F2B41B; color:#F2B41B;}
.btn_type_01--sec.yellow:hover {background: #F2B41B; border: 1px solid #F2B41B; color:#fff;}
.btn_type_01--sec.black {background: #000; border: 1px solid #000; color:#fff;}
.btn_type_01--sec.black:hover {background: #fff; border: 1px solid #000; color:#000;}
.btn_type_01--sec.blue {background: #1960A1; border: 1px solid #1960A1; color:#fff;}
.btn_type_01--sec.blue:hover {background: #fff; border: 1px solid #1960A1; color:#1960A1;}

.btn_type_02 {display: inline-block; margin-top: 15px; font-size:20px; font-weight: 400; color:#F2B41B;transition: all .5s;}
.btn_type_02:after {content:''; display: inline-block; width:151px; height: 16px; margin-left: 10px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/next_icon.png') no-repeat; background-size: 151px auto;transition: all .5s; }
.btn_type_02:hover {color:#000;}
.btn_type_02:hover:after {content:''; display: inline-block; width:151px; height: 16px; margin-left: 10px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/next_icon--hover.png') no-repeat; background-size: 151px auto; }
.btn_color_yellow {background: #F2B41B; color:#3a3a3a;}
.btn_color_yellow:hover {background: #000; color:#fff; border: 1px solid #000;}

/*===============flag_type================*/
.flag_type_01 {display: inline-block;padding:3px 15px; border-radius: 0 5px 5px 0; border:1px solid #F2B41B; border-left: 0; color:#F2B41B; font-size: 16px; line-height: 1;}
.flag_type_02 {display: inline-block;padding:3px 15px; border-radius:5px; font-size: 16px; line-height: 1;background: #F2B41B; color:#fff;}

/*================input layout================*/
.checkbox_wrap input[type="checkbox"] {display: none;}
.checkbox_wrap input[type="checkbox"] + label:before {content:''; display: inline-block; width:25px; height: 25px; margin-right: 5px;border:1px solid #E5E5E5; border-radius: 5px; vertical-align: middle;}
.checkbox_wrap input[type="checkbox"]:checked + label:before {content:''; display: inline-block; width:25px; height: 25px; background: #F2B41B
 url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/checkbox.png') no-repeat; background-position: center;border:1px solid #F2B41B;}

.radio_wrap input[type="radio"] {display: none;}
.radio_wrap input[type="radio"] + label:before {content:''; display: inline-block; width:25px; height: 25px; margin-right: 5px;border:1px solid #E5E5E5; border-radius: 5px; vertical-align: middle;}
.radio_wrap input[type="radio"]:checked + label:before {content:''; display: inline-block; width:25px; height: 25px; background: #F2B41B
 url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/checkbox.png') no-repeat; background-position: center;border:1px solid #F2B41B;}
.radio_wrap.blue input[type="radio"]:checked + label:before {content:''; display: inline-block; width:25px; height: 25px; background: #1960A1
 url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/checkbox.png') no-repeat; background-position: center;border:1px solid #1960A1;}

.info_input_wrap .section_inner--full{background: rgba(242, 180, 27, 0.3); padding:30px;}
.info_input_wrap .write_box {width:968px; min-height: 320px; margin:0 auto; text-align: center;background:#fff; border: 1px solid #bdbdbd; padding:30px 100px; border-radius: 30px; box-sizing: border-box;}
.info_input_wrap .write_box .input_box {overflow: hidden;margin-top: 30px;}
.info_input_wrap .write_box .input_box input{width:100%;border:0; border-bottom: 1px solid #000; border-radius: 0; padding:10px 5px; font-size: 14px; box-sizing:border-box;}
.info_input_wrap .write_box .input_box .name {width:30%; float: left;}
.info_input_wrap .write_box .input_box .phone {width:50%; float: right;}
.info_input_wrap .write_box .input_box .email {margin-top: 15px;}
.info_input_wrap .write_box .input_box input:placeholder {color:#BDBDBD;}
.info_input_wrap .write_box .btn_type_01--sec {margin:50px auto 0;}

/*file_box*/
.file_box input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } 
.file_box label { display: inline-block; padding: 1em 1.25em; color: #3a3a3a; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer;background: #F2B41B;border-radius: 5px; } /* named upload */ 
.file_box .upload_name { display: inline-block; width:70%; padding: 1em .75em; /* label의 패딩값과 일치 */ font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #fff; border: 1px solid #ebebeb; border-radius: 10px; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; box-sizing: border-box; }

/* ==========================section layout====================*/
.container {position: relative; margin-top: 50px;}
.container > section {margin-top: 100px;}
.container > section:first-child {margin-top: 0px;}
.container > section:last-child {margin-bottom: 80px;}
.container > section.info_input_wrap {margin-bottom: 0px;}
.container .section_inner{max-width:1170px; margin:0 auto;}
.container .section_inner--full{width:100%;}
.container .section_title {position: relative; padding-left:60px;margin-bottom: 40px; line-height: 1.5;}
.container .section_title:before{position: absolute; left:0;content:''; display: inline-block; width:46px; height: 60px; margin-right: 15px; background: url("https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/title_icon.png") no-repeat; background-size: 46px auto; vertical-align: middle;}
.container .section_title:after{content:''; display: inline-block; width:110px; height: 5px; position: absolute; top:44px; left:60px; background: #F2B41B;}
.container .section_title_02 {position: relative;padding-bottom: 10px; margin-bottom: 15px;}
.container .section_title_02:after{content:''; display: inline-block; width:270px; height: 5px; position: absolute; bottom:0; left:0; background: #F2B41B;}

.sub .visual_wrap {position: relative; height: 300px; background: #C4C4C4;}
.sub .visual_wrap .section_inner{position: relative; height: 100%;}
.sub .visual_wrap .text_box {position: absolute; left:0; top:60%;}

.sub .visual_wrap .text_box .tab {
	display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sub .visual_wrap .text_box .tab .menu-item {
	color: #a6460c;
    font-weight: 600;
}

.admission_consulting .articles_wrap .btn_type_01.view {
	position: absolute;
    right: 40px;
    top: 0;
}

.admission_consulting .articles_wrap .section_inner {
	position: relative;
}

.admission_consulting .articles_wrap .section_inner .box_type_01 {
	overflow: unset;
}

.admission_consulting .articles_wrap .section_inner .video_wrap {
	border-radius: 10px 10px 0 0;
    height: 100%;
	width: 100%;
}
.admission_consulting .articles_wrap .section_inner .video_wrap iframe {
	border-radius: 10px 10px 0 0;
}
.admission_consulting .articles_wrap .section_inner .courses_item {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}

.new-ac * {
	font-size: 16px;
}

.new-ac .list-3 {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
  }
  
.new-ac .list {
	flex: 1
}

/*====================swiper-container===================*/

.swiper-container .swiper-button-prev {left: 0; height: 80px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/arrow_01.png') no-repeat; transform: rotateY(-180deg); background-size:24px auto; margin-top: -40px;}
.swiper-container .swiper-button-next {right: 0; height: 80px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/arrow_01.png') no-repeat; background-size:24px auto;margin-top: -40px;}
.swiper-container .swiper-button-prev.black {left: 0; height: 80px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/arrow_01_black.png') no-repeat; transform: rotateY(-180deg); background-size:24px auto; margin-top: -40px;}
.swiper-container .swiper-button-next.black {right: 0; height: 80px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/arrow_01_black.png') no-repeat; background-size:24px auto;margin-top: -40px;}

/*========================grid_type_wrap========================*/
.grid_type_wrap_01 {overflow: hidden;}
.grid_type_wrap_01 > div{float: left; width:60%; box-sizing: border-box;}
.grid_type_wrap_01 > div + div{float: right; width:40%;}

.grid_type_wrap_02 {overflow: hidden;}
.grid_type_wrap_02 > div {float: left; width:50%; padding-right: 10px; box-sizing: border-box;}
.grid_type_wrap_02 > div + div{float:right; width:50%; padding-left: 10px;}

.grid_type_wrap_03 {overflow: hidden;}
.grid_type_wrap_03 > div {float: left; width:40%; box-sizing: border-box;}
.grid_type_wrap_03 > div + div{float:right; width:60%;}

/*========================ul_type========================*/
.ul_type_01 {}
.ul_type_01 > li{font-size: 16px;}
.ul_type_01 > li:before{content:'-'; display: inline-block; font-size: 16px;margin-right: 5px;}


.ul_type_02 {}
.ul_type_02 > li{font-size: 16px; position: relative; padding-left: 10px;}
.ul_type_02 > li:before{content:''; position: absolute; left:0; top:10px; display: inline-block;width:4px; height: 4px; border-radius: 2px; background: #000; vertical-align: middle; }

.ul_type_03 {}
.ul_type_03 > li{font-size: 16px; position: relative; padding-left: 40px; margin-bottom: 10px; padding-bottom: 10px;} 
.ul_type_03 > li:before{content:''; position: absolute; left:0; top:0px; display: inline-block;width:24px; height: 24px; border-radius: 12px; background-color: #F2B41B; background-image: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/checkbox.png'); background-repeat: no-repeat; background-position: center; vertical-align: middle; }
.ul_type_03.blue > li:before{background-color: #1960A1; }

.ul_type_04 {}
.ul_type_04 > li{font-size: 16px; position: relative; margin-bottom: 10px; padding-bottom: 10px;} 
.ul_type_04 > li:before{content: ''; width: 5px; height: 5px; margin-right: 5px;  border-top: 2px solid #121212; border-right: 2px solid #121212;  display: inline-block; vertical-align: middle; transform: rotate(45deg);}

/*========================box_type=========================*/
/*box_type_01*/
.box_type_01 {width:100%;overflow: hidden;}
.box_type_01 .box_type_01--item{float: left; width:calc(33.33% - 10px); width:-webkit-calc(33.33% - 10px); border-radius: 10px; margin-right: 15px; transition: width 1s;margin-bottom: 1rem;}
.box_type_01 .box_type_01--item:nth-child(3n) {margin-right: 0;}
.box_type_01 .box_type_01--img {position: relative; padding-top: 66%; overflow: hidden; border-radius: 10px 10px 0 0;}
.box_type_01 .box_type_01--img img{width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%); transition:all 0.5s;}
.box_type_01 .box_type_01--img:hover img{transform: scale(1.1) translate(-50%, -50%);}
.box_type_01 .box_type_01--video {position: relative; padding-top: 66%; overflow: hidden; border-radius: 10px 10px 0 0;}
.box_type_01 .box_type_01--video video{width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%);}
.box_type_01 .box_type_01--video a {position: absolute; width:100%; height: 100%; top:0; left:0; z-index: 10;}
.box_type_01 .box_type_01--video iframe{width:100%;display: block;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%);}
.box_type_01 .box_type_01--video a img{width:100%;display: block;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%);}
.box_type_01 .box_type_01--desc{position: relative;top: 0;min-height: 225px; border:1px solid #ddd; border-radius: 0 0 10px 10px; padding:15px 30px 75px 30px; word-break: break-word;}
.box_type_01 .box_type_01--desc .btn_type_01--sec{position: absolute; left:50%; bottom:15px; margin-left: -85px;}
.box_type_01 .box_type_01--desc .btn_type_01--sec span{font-size: 16px;}
.box_type_01 .box_type_01--desc .title_r_03 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.2em;height: 2.4em;}
.box_type_01 .box_type_01--desc .desc_text {overflow: hidden; margin-top: 10px; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4; /* 라인수 */-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.2em;height: 4.7em;}
.box_type_01.video_list .box_type_01--desc a{display: block;}
.box_type_01.video_list .box_type_01--desc .info {overflow: hidden; margin-bottom: 10px;}
.box_type_01.video_list .box_type_01--desc .info p{font-size: 14px; color:#8B8989}
.box_type_01.video_list .box_type_01--desc .info .date{float: left;}
.box_type_01.video_list .box_type_01--desc .info .duration{float: right;}

/*
	<ul class="box_type_01">
		<li class="box_type_01--item">
			<div class="box_type_01--img">
				<img src="" alt="">
			</div>
			<div class="box_type_01--desc">
				<p class="title_r_03"></p>
				<div class="desc_text"></div>
			</div>
		</li>
	</ul>
*/

/* box_type_02 */
.box_type_02_wrap {}
.box_type_02_wrap .box_type_02{overflow: hidden;}
.box_type_02_wrap .box_type_02 .box_type_02--item{position: relative;float: left; width:calc(25% - 23px); width:-webkit-calc(25% - 23px); margin-right: 30px; padding:54px 27px 27px; text-align: center; border: 1px solid #e4e4e4; border-radius: 10px;}
.box_type_02_wrap .box_type_02 .box_type_02--item:nth-child(4n) {margin-right: 0;}
.box_type_02_wrap .box_type_02 .box_type_02--title:after {content:''; display: inline-block; width:100px; height: 5px; background: #f2b41b; margin:10px 0 20px;} 
.box_type_02_wrap .box_type_02 .box_type_02--cont {margin-bottom: 20px;}
.box_type_02_wrap .box_type_02 .flag_type_01 {position: absolute; left:0; top:20px;}



/*class_box_type*/
.class_box_type_01 {width:100%; overflow: hidden; }
.class_box_type_01 .class_box_type_01--item{float: left; width:calc(33.33% - 20px); width:-webkit-calc(33.33% - 20px); margin-right: 30px; margin-bottom: 40px;border-radius: 10px; transition: width 1s;}
.class_box_type_01 .class_box_type_01--item:nth-child(3n) {margin-right: 0;}
.class_box_type_01 .class_box_type_01--img {position: relative; padding-top: 66%; overflow: hidden; border-radius: 10px 10px 0 0;}
.class_box_type_01 .class_box_type_01--img img{width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%); object-fit: cover;}
.class_box_type_01 .class_box_type_01--desc{position: relative;min-height: 140px; border:1px solid #ddd; border-radius: 0 0 10px 10px; padding:10px; word-break: break-word;}
.class_box_type_01 .class_box_type_01--desc .btn_type_01--sec{position: absolute; left:50%; bottom:15px; margin-left: -85px;}
.class_box_type_01 .class_box_type_01--desc .title_r_03 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.2em;height: 2.4em;}
.class_box_type_01 .class_box_type_01--desc .text--gray {overflow: hidden; margin-bottom: 5px;}
.class_box_type_01 .class_box_type_01--desc .text--gray p {float: left;}
.class_box_type_01 .class_box_type_01--desc .text--gray .times {float: right;}
.class_box_type_01 .class_box_type_01--desc .class_type {display: inline-block; margin-top: 10px;color:#F2B41B; }
/*
	<ul class="class_box_type_01">
		<li class="class_box_type_01--item">
			<div class="class_box_type_01--img">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
			</div>
			<div class="class_box_type_01--desc">
				<div class="text--gray">
					<p class="age">Grade 3 - 6</p>
					<p class="times">60 Minutes</p>
				</div>
				<p class="title_r_03">English Learning Fundamentals</p>
				<span class="class_type">Hybrid</span>
			</div>
		</li>
	</ul>
*/
/*class_box_type*/
.class_box_type_02 {width:100%; overflow: hidden; }
.class_box_type_02 .class_box_type_02--item{float: left; width:calc(25% - 12px); width:-webkit-calc(25% - 12px); margin-right:16px; margin-bottom: 40px;border-radius: 10px; transition: width 1s;}
.class_box_type_02 .class_box_type_02--item:nth-child(4n) {margin-right: 0;}
.class_box_type_02 .class_box_type_02--img {position: relative; padding-top: 66%; overflow: hidden; border-radius: 10px 10px 0 0;}
.class_box_type_02 .class_box_type_02--img img{width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%);}
.class_box_type_02 .class_box_type_02--desc{position: relative;min-height: 140px; border:1px solid #ddd; border-radius: 0 0 10px 10px; padding:10px; word-break: break-word;}
.class_box_type_02 .class_box_type_02--desc .btn_type_01--sec{position: absolute; left:50%; bottom:15px; margin-left: -85px;}
.class_box_type_02 .class_box_type_02--desc .title_r_03 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; /* 라인수 */-webkit-box-orient: vertical;word-wrap:break-word; line-height: 1.2em;height: 2.4em;}
.class_box_type_02 .class_box_type_02--desc .text--gray {overflow: hidden; margin-bottom: 5px;}
.class_box_type_02 .class_box_type_02--desc .text--gray p {float: left;}
.class_box_type_02 .class_box_type_02--desc .text--gray .times {float: right;}
.class_box_type_02 .class_box_type_02--desc .class_type {display: inline-block; margin-top: 10px; color:#F2B41B;}


/* swipe_type_01_wrap :: swiper-slide 함께 사용 */
.swipe_type_01_wrap {position: relative;overflow: hidden;}
.swipe_type_01_wrap .swiper-container{position: static; margin:0 50px; overflow: inherit;}
.swipe_type_01_wrap .swipe_type_01 {position: initial;width:100%; }
.swipe_type_01 .swipe_type_01--item{float: left; width:25%; border-radius: 10px; border:1px solid #ddd;}
.swipe_type_01 .swipe_type_01--item a{display: block;}
.swipe_type_01 .swipe_type_01--img {position: relative; padding-top: 100%; overflow: hidden; }
.swipe_type_01 .swipe_type_01--img img{position: absolute;top: 50%;left: 50%;width: 70%;height: auto;min-width: 70%;min-height: 70%;transform: translate(-50%, -50%); border-radius: 50%;}
.swipe_type_01 .swipe_type_01--img .img_box{width:100%; overflow: hidden; position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width:calc(100% - 40px); min-width:-webkit-calc(100% - 40px);min-height:-webkit-calc(100% - 40px);transform: translate(-50%, -50%);-webkit-transform: translateX(-50%) translateY(-50%);  -moz-transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%);  -o-transform: translateX(-50%) translateY(-50%); border-radius: 50%;}
.swipe_type_01 .swipe_type_01--img .img_box img{position: inherit;top:0; left:0; width:100%; height: auto; transform: translate(0); border-radius: 0;}
.swipe_type_01 .swipe_type_01--desc{position: relative;min-height: 130px; margin-top: -20px; word-break: break-word;text-align: center; padding:0 10px;}
.swipe_type_01 .swipe_type_01--desc .title_r_03--gray{margin-top: 10px;}

/*
	<div class="swipe_type_01_wrap">
		<div class="swiper-container">
			<ul class="swiper-wrapper swipe_type_01">
				<li class="swipe_type_01--item">
					<div class="swipe_type_01--img">
						<img src="" alt="">
					</div>
					<div class="swipe_type_01--desc">
						<p class="title_r_03">Name</p>
						<div class="title_r_03--gray">Title</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
*/

/* swipe_type_02_wrap :: swiper-slide 함께 사용 */
.swipe_type_02_wrap {position: relative;overflow: hidden;}
.swipe_type_02_wrap .swiper-container{position: static; margin:0 50px; overflow: inherit;}
.swipe_type_02_wrap .swipe_type_02 {position: initial;width:100%; }
.swipe_type_02 .swipe_type_02--item{float: left; width:25%; border-radius: 10px; border:1px solid #ddd;}
.swipe_type_02 .swipe_type_02--item + .swipe_type_02--item {}
.swipe_type_02 .swipe_type_02--item a{display: block;}
.swipe_type_02 .swipe_type_02--item .more_text{position: absolute; left: 0; top: 50%; transform:translateY(-50%); width: 100%; text-align: center; font-weight: 600; color: #666;}
.swipe_type_02 .swipe_type_02--img {position: relative; padding-top: 99%; overflow: hidden; border-radius: 10px;}
.swipe_type_02 .swipe_type_02--img img,
.swipe_type_02 .swipe_type_02--img iframe {position: absolute;top: 50%;left: 50%;width: 100%;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%);transition: all 1s ease;}
/* .swipe_type_02 .swipe_type_02--text {margin-top: 40%; text-align: center;} */
/*.swipe_type_02 .swipe_type_02--img:hover img {transform: scale(1.1) translate(-50%, -50%);-webkit-transform: scale(1.1) translate(-50%, -50%); -moz-transform: scale(1.1) translate(-50%, -50%); -ms-transform: scale(1.1) translate(-50%, -50%); -o-transform: scale(1.1) translate(-50%, -50%);}*/

/*
	<div class="swipe_type_01_wrap">
		<div class="swiper-container">
			<ul class="swiper-wrapper swipe_type_01">
				<li class="swipe_type_01--item">
					<div class="swipe_type_01--img">
						<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
					</div>
				</li>
			</ul>
		</div>
	</div>
*/
.gray_box {padding:10px; text-align: center; background: #eee; }

/*team_wrap(teacher)*/
.team_wrap .swipe_type_01 .swipe_type_01--desc {padding-top:10px;}

/* process_step_wrap */
.process_step_wrap {padding:20px 0 40px; }
.process_step_wrap .process_step_list {position: relative; z-index: 10;}
.process_step_wrap .process_step_list:after {content:''; display: block; clear: both;}
.process_step_wrap .process_step_list .process_step_item{float: left; width:20%; position: relative;}
.process_step_wrap .process_step_list .process_step_item:after {content:''; display: inline-block; width:70%; height: 10px; position: absolute; right:-100px; top:50%; margin-top: -5px; background: #F2B41B; z-index: -1;}
.process_step_wrap .process_step_list .process_step_item:last-child:after {content:none;}
.process_step_wrap .process_step_list .process_step_item .step {width:90%; margin:167px 0; background: #F2B41B; border-radius: 20px; text-align: center; padding:10px; font-size: 16px;}
.process_step_wrap .process_step_list .tooltip_box{ position: absolute; left:50%; margin-left: -85px; bottom:230px; max-width: 170px; display: inline-block; padding:20px 10px 10px;  background: #f4f4f4; box-sizing: border-box; border-radius:0 20px 20px 20px;}
.process_step_wrap .process_step_list .tooltip_box:after{ content:''; display: inline-block; position: absolute; left:50%; margin-left:-14px; width: 27px; height: 22px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/tooltip_arrow.png') no-repeat;}
.process_step_wrap .process_step_list .tooltip_box .title_r_01 {position: absolute; left:0; top:-40px; color:#F2B41B;}
.process_step_wrap .process_step_list .tooltip_box .title_r_03 {font-size: 16px;}
.process_step_wrap .process_step_list .icon_box{position: absolute; bottom:50px; left:50%; transform: translateX(-50%);transform: -webkit-translateX(-50%);}
.process_step_wrap .process_step_list .icon_box:before {content: ''; display: inline-block; height: 20px; border: 1px dashed #000; position: absolute; left: 50%; top: -36px;}
.process_step_wrap .process_step_list .process_step_item:last-child .icon_box:before {top: -30px;}
.process_step_wrap .process_step_list .process_step_item:nth-child(2n) .tooltip_box {top:240px; bottom:auto; padding:10px 10px 30px; border-radius: 10px;}
.process_step_wrap .process_step_list .process_step_item:nth-child(2n) .tooltip_box:after{top:-20px; transform: rotateX(-180deg)}
.process_step_wrap .process_step_list .process_step_item:nth-child(2n) .icon_box {bottom:260px;}
.process_step_wrap .process_step_list .process_step_item:nth-child(2n) .icon_box:before {top:auto; bottom:-36px;}
.process_step_wrap .process_step_list .process_step_item:nth-child(2n) .title_r_01{top:auto; bottom:-40px;}
.process_step_wrap .swiper-container {overflow: inherit;}
.process_step_wrap .swiper-pagination-progressbar {display: none;top:auto; bottom:-40px;}
.process_step_wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{ background: #F2B41B;}

/* loaction_cont */
.locations_cont{position: relative;overflow: hidden;}
.locations_cont .swiper-container{position: initial; margin:0 50px; overflow: inherit;}
.locations_list .locations_item{float: left; width:33.33%; min-height: 170px; padding:15px; border-radius: 10px; border: 1px solid #E5E5E5;}
.locations_list .locations_title{position: relative; padding-left:50px;}
.locations_list .locations_title:before {content:''; display: inline-block; width:29px; height: 38px; position: absolute; left:0; top:0; vertical-align: middle;  background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/location_icon.png') no-repeat; background-size: 29px; }
.locations_list .locations_title:after {content:'';display: block; width:calc(100% - 32px); width:-webkit-calc(100% - 32px); margin-top:3px;  border-bottom:1px solid #ddd; }
.locations_list .locations_text{margin-top: 10px; line-height: 1.6;}
.locations_list .locations_text p {font-size: 14px;}

/*============================= courses_wrap ===========================*/
.courses_wrap > div {position: relative; margin-bottom: 45px;}
.courses_wrap .sort_by_box {position: relative;text-align: right; margin-bottom: 20px;}
.courses_wrap .sort_by_box .sort_item {position: relative; border-bottom: 1px solid #000; border-radius: 0;padding:5px 30px 5px 5px; background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/arrow_02.png') right center no-repeat;}
.courses_wrap .sort_by_box .sort_kind_item {display: none;position: absolute;right:0; top:35px;padding:10px; background: #fff; z-index: 10; border: 1px solid #e5e5e5; border-radius: 10px; text-align: left;}
.courses_wrap .sort_by_box .sort_kind_item a {display: block;padding:10px 0;}
.courses_wrap .sort_by_box.on .sort_kind_item {display: inline-block;}
.courses_wrap > div > a {position: absolute; right:0; top:0;}
.classes_grid_wrap {overflow: hidden; margin-top: 20px;}
.classes_grid_wrap .desc_box {margin-bottom: 60px;}
.classes_grid_wrap .desc_box strong {font-weight: 700;}
.classes_grid_wrap .option_wrap {position: relative;float: left; width:20%;}
.classes_grid_wrap .courses_wrap {float: right; width:80%; padding-left:3%; box-sizing: border-box;}
/* filter_list */
.option_wrap .filter_mo_btn{display: none;font-size: 16px; background:#F2B41B; color:#fff; border: 1px solid #F2B41B; padding:5px 10px;}
.option_wrap .filter_mo_btn:before {content:''; display: inline-block; width:20px; height: 24px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/filter_icon.png') center no-repeat; background-size: 20px auto;vertical-align: middle; margin-right: 5px;}
.option_wrap .option_list {display: block;}
.option_list .filter_list_wrap .filter_item {position: relative;margin-bottom: 10px;}
.option_list .filter_list_wrap .filter_item .checkbox_wrap {padding-left: 40px; padding-top: 3px;}
.option_list .filter_list_wrap .checkbox_wrap input[type="checkbox"] + label:before {position: absolute; left:0; top:0;}
.option_list .option_item > a {display: block;position: relative; padding:10px 0;margin-bottom: 10px;border-bottom: 1px solid #ddd;}
.option_list .option_item > a:before {content:''; display: inline-block; width:10px; position: absolute; right:6px; top:20px;height: 2px; transform: rotate(-135deg); background: #000;}
.option_list .option_item > a:after {content:''; display: inline-block; width:10px; height: 2px; position: absolute; right:0; top:20px; transform: rotate(135deg); background: #000;}
.option_list .option_item.on > a:before {content:''; display: inline-block; width:10px; position: absolute; right:7px; top:20px;height: 2px; transform: rotate(-45deg); background: #F2B41B;}
.option_list .option_item.on > a:after {content:''; display: inline-block; width:10px; height: 2px; position: absolute; right:0; top:20px; transform: rotate(45deg); background: #F2B41B;}
.option_list .option_item .filter_list_wrap {display: none;}
.option_list .option_item.on .filter_list_wrap {display: block;} 
.filter_list_wrap .filter_item .checkbox_wrap {position: relative; padding-right:50px;}
.filter_list_wrap .filter_item .count {position: absolute; right:0; top:0; font-size: 14px; color:#BDBDBD; top:0;}

/*============================= video_grid_wrap ===========================*/
.video_grid_wrap {overflow: hidden;}
.video_wrap {float: left; width:60%;}
.video_wrap video {width:100%;}
.video_wrap iframe {width:100%;}
.video_desc_wrap {float: right; width:40%; padding-left:3%; box-sizing: border-box;}

/*==================file_down_wrap===================*/
.flie_down_wrap {}
.flie_down_wrap li {margin-bottom: 20px;}
.flie_down_wrap li a{display: inline-block; padding:10px 100px;  border: 1px solid #e5e5e5; border-radius: 10px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/file_icon.png') left 30px center no-repeat;}
.flie_down_wrap li a{display: inline-block; padding:10px 100px;  border: 1px solid #e5e5e5; border-radius: 10px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/file_icon.png') left 30px center no-repeat;}
.flie_down_wrap li a span {display: block;}
.flie_down_wrap li a .file_size {font-size: 16px;}

/*==================== 팝업 layout ==================*/
.layer_popup {display: none;position: absolute; left:50%; bottom:200px; transform: translateX(-50%); width:1070px;  height: max-content;padding:10px;  z-index:999; border: 1px solid #E5E5E5; border-radius: 20px; background: #fff;box-shadow:7px 7px 10px rgb(0 0 0 / 17%);}
.dim {display: none;position: fixed; left:0; top:0; width:100%; height: 100%; background:rgba(0,0,0,0.4); z-index: 900;}
.layer_popup .popup_cont {padding:15px 70px;}
.layer_popup .popup_cont::-webkit-scrollbar {width: 7px; margin-right: 10px; border-radius: 5px;}
.layer_popup .popup_cont::-webkit-scrollbar-thumb {background: #cecece;border-radius: 5px;}
.layer_popup .popup_cont::-webkit-scrollbar-track {background: none;}
.layer_popup .close_btn {position: absolute;display: inline-block; width:40px; height: 40px; right:0; top:-40px;}
.layer_popup .close_btn:before {content:'';display: inline-block; width:40px; height: 2px; background: #fff; transform: rotate(-45deg);}
.layer_popup .close_btn:after {content:'';display: inline-block; width:40px; height: 2px; position: absolute; left:0; top:13px; background: #fff; transform: rotate(45deg);}
/*contact_popup*/
.contact_popup .contact_box {overflow: hidden; padding-bottom:20px; line-height: 1;}
.contact_popup .contact_box .hotline{float: left; padding:10px 20px; text-align: center; border: 1px solid #F2B41B; color:#F2B41B; border-radius: 20px; font-size: 16px;}
.contact_popup .contact_box .email {float: right; padding:10px 0; font-size: 16px;}
.contact_popup .contact_list ul{overflow: hidden; border-top:  1px solid #E5E5E5;}
.contact_popup .contact_list ul li {float: left; width:33.33%; padding:2% 1.5%; box-sizing: border-box;}
.contact_popup .contact_list ul li p {font-size: 14px;}
.contact_popup .contact_list ul li .tit {font-size: 16px; margin-bottom: 20px;}

/*mentor_popup*/
.mentor_popup {width:770px;}
.mentor_popup .popup_cont {overflow: hidden; padding:30px 50px;}
.mentor_popup .mentor_img_box{float: left; width:30%;text-align: center;}
.mentor_popup .mentor_img_box p {margin-top: 15px;}
.mentor_popup .mentor_info_box{float: left; width:70%; padding-left: 30px; box-sizing: border-box;}

/*mentor_popup_custom*/
.mentor_popup_custom {width:770px;    background: #101121;
	border-radius: 16px;
	padding: 42px;
	border: none;}
.mentor_popup_custom.layer_popup .close_btn {position: absolute;display: inline-block; width:40px; height: 40px; right:10px; top:10px;}
.mentor_popup_custom .popup_cont {overflow: hidden; padding:30px 50px;}
.mentor_popup_custom .mentor_img_box{float: left; width:30%;text-align: center;}
.mentor_popup_custom .mentor_img_box p {margin-top: 15px;color: #FCFCFD;}

.mentor_popup_custom .mentor_img_box p.text--gray {color: #1CCFEA}
.mentor_popup_custom .mentor_info_box{float: left; width:70%; padding-left: 30px; box-sizing: border-box;}
.mentor_popup_custom .mentor_info_box .ul_type_02 li{color: white; position: initial;}
.mentor_popup_custom .mentor_info_box .ul_type_02 li::marker{color: white;}

/*cases_tudies_popup*/
.case_studies_popup {width:770px;height: max-content;}
.case_studies_popup .title {font-size: 20px; font-weight: 700; margin-bottom: 20px; }
.case_studies_popup .popup_cont {overflow: auto; padding:30px 50px; max-height: 500px;}
.case_studies_popup .case_studies_img_box{float: left; width:30%;text-align: center;}
.case_studies_popup .case_studies_img_box img {}
.case_studies_popup .case_studiesimg_box p {margin-top: 15px;}
.case_studies_popup .ul_type_02 li:before {content:none;}
.case_studies_popup .case_studies_info_box{float: left; width:70%; padding-left: 30px; box-sizing: border-box;}

/*testimonials_popup*/
.testimonials_popup {width:650px;}
.testimonials_popup .popup_cont {overflow: hidden; padding:0; border-radius: 20px;}

/*==============dark mode==================*/
.dark .btn_type_01--sec:hover {background: #fff; color:#F2B41B; border: 1px solid #F2B41B;}
.dark .btn_color_yellow:hover {background: #fff; color:#F2B41B; border: 1px solid #fff;}
.dark .btn_type_01--sec.yellow:hover {background: #F2B41B; border: 1px solid #F2B41B; color:#fff;}

/*=================tab_type_list==================*/
.tab_type_list_01 ul{}
.tab_type_list_01 ul li {display: inline-block;}
.tab_type_list_01 ul li + li{margin-left: 20px;}
.tab_type_list_01 ul li a {display: block; padding-bottom: 5px; font-size: 16px;}
.tab_type_list_01 ul li.on a {border-bottom: 5px solid #F2B41B; color:#F2B41B;}

.tab_cont_wrap {padding-top: 40px;}
.tab_cont_wrap .tab_cont {display: none;}
.tab_cont_wrap .tab_cont.on {display: block;}

/*================table layout===================*/
.schedules_table_cont .schedules_table {width:100%;}
.schedules_table_cont .schedules_table thead th{background: #F2B41B; font-weight: 800; text-align: center; padding:15px 0; font-size: 16px;}
.schedules_table_cont .schedules_table tbody td{text-align: center; padding:15px 0; font-size: 14px; border-bottom: 1px solid #c3c3c3;}
.schedules_table_cont .schedules_table tbody .title_r_03 {color:#F2B41B; font-size: 20px;}


/*========================animation 관련========================*/
.anim_group {transition-delay: 200ms !important;}
.anim_group .fade_in_up {-webkit-transform: translateY(120px);-moz-transform: translateY(120px);-ms-transform: translateY(120px); -o-transform: translateY(120px); transform: translateY(120px);}
.anim_group .fade_in_left {-webkit-transform: translateX(120px);-moz-transform: translateX(120px);-ms-transform: translateX(120px); -o-transform: translateX(120px); transform: translateX(120px);}
.anim_group .fade_in_right {-webkit-transform: translateX(-120px);-moz-transform: translateX(-120px);-ms-transform: translateX(-120px); -o-transform: translateX(-120px); transform: translateX(-120px);}
.anim_group .anim {opacity: 0;}
.anim_group .anim.in {transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 800ms ease-out; opacity: 1 !important;-webkit-transition: -webkit-transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 800ms ease-out; -moz-transition: -moz-transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 800ms ease-out;-ms-transition: -ms-transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 800ms ease-out;-o-transition: -o-transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 800ms ease-out;transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 800ms ease-out;opacity: 1 !important;-webkit-transform: translate(0, 0) scale(1, 1) !important;-moz-transform: translate(0, 0) scale(1, 1) !important;-ms-transform: translate(0, 0) scale(1, 1) !important;-o-transform: translate(0, 0) scale(1, 1) !important;transform: translate(0, 0) scale(1, 1) !important; }


@media screen and (max-width:1200px) {
	.container .section_inner {padding:0 40px;}
	.sub .visual_wrap .text_box {left: 40px; padding-right: 40px;}
	.layer_popup {width:auto; max-width: 800px; min-width: 800px;}
	
	.testimonials_popup {max-width: 600px; min-width: 600px;}
	
	.grid_type_wrap_01 > div {float: none; width:100%;}
	.grid_type_wrap_01 > div + div{float: none; width:100%;}
	
	.grid_type_wrap_03 > div {float: none; width:100%;}
	.grid_type_wrap_03 > div + div{float: none; width:100%;}
	
	.box_type_02_wrap .box_type_02 .box_type_02--item {padding:54px 10px 10px;}
	
	.info_input_wrap .write_box {width:100%; height: auto; margin:0 auto;}
	.info_input_wrap .write_box .input_box input{float: none;width:100%; margin-bottom: 15px;}
	.info_input_wrap .write_box .input_box .name{float: none;width:100%;}
	.info_input_wrap .write_box .input_box .phone{float: none;width:100%;}
	.info_input_wrap .write_box .input_box .email{margin-top: 0;}
}
@media screen and (max-width:1000px) {
	.container > section {margin-top: 80px;}

	.title_r_00 {font-size: 50px;}
	.title_r_01 {font-size: 40px;}
	
	.video_desc_wrap {margin-top: 20px;}
	.box_type_01 .box_type_01--item {width:calc(50% - 10px); width:-webkit-calc(50% - 10px); margin-right: 20px; margin-bottom: 10px; }
	.box_type_01 .box_type_01--item:nth-child(3n) {margin-right: 20px;}
	.box_type_01 .box_type_01--item:nth-child(2n) {margin-right: 0;}
	.box_type_01 .box_type_01--desc .desc_text {-webkit-line-clamp: 4; height: 3.5em;}
	.box_type_02_wrap .box_type_02 .box_type_02--item {width: calc(50% - 10px); width: -webkit-calc(50% - 10px); margin-right: 20px; margin-bottom: 20px;}
	.box_type_02_wrap .box_type_02 .box_type_02--item:nth-child(2n) {margin-right: 0;}
	
	.layer_popup {width:80%; min-width: 300px;}
	.layer_popup .popup_cont{max-height: 300px; overflow-y:auto; padding:15px;}
	
	.testimonials_popup {width:500px;}
	.testimonials_popup .popup_cont{max-height: 500px;padding:0;}
	
	.sub .visual_wrap .text_box {color:#fff;}
	.sub .visual_wrap .text_box .text{color:#fff;}
	.contact_popup .contact_box .hotline {float: none; width:100%;}
	.contact_popup .contact_box .email {float: none; width:100%; margin-top: 10px; text-align: center;}
	.contact_popup .contact_list ul li {float: none;width:100%; border-bottom:1px solid #E5E5E5; padding:10px 0;}
	.contact_popup .contact_list ul + ul {border-top: 0;}
	
	.class_box_type_01 .class_box_type_01--item { width: calc(33.33% - 10px); width: -webkit-calc(33.33% - 10px); margin-right: 15px; margin-bottom: 40px;}
	.class_box_type_01 .class_box_type_01--desc .text--gray p {float: none;}
	.class_box_type_01 .class_box_type_01--desc .text--gray .times{float: none;}
	
	.process_step_wrap .process_step_list .tooltip_box .title_r_01 {top:-40px;}
	.process_step_wrap .process_step_list .process_step_item:nth-child(2n) .title_r_01 {bottom:-20px;}
	.process_step_wrap .swiper-pagination-progressbar {display: block;}
}
@media screen and (max-width: 768px) and (orientation: portrait){
	.layer_popup {
		bottom: 500px;
	}

	.blog_wrap .video_wrap iframe {height: 380px;}
	
	.grid_type_wrap_02 > div {float: none; width:100%; padding-right: 0;}
	.grid_type_wrap_02 > div + div {float: none; width:100%; margin-top: 20px; padding-left: 0;}
	
	.box_type_01 .box_type_01--desc {min-height: 210px; padding:15px 15px 60px;}
	.btn_type_01--sec {width:80%; margin:0 auto;}
	.box_type_01 .box_type_01--desc .btn_type_01--sec {margin-left:0; transform:translateX(-50%);}
	.box_type_01 .box_type_01--desc .desc_text {margin: 10px 0;}
	
	.btn_type_02 {font-size: 16px; margin-top: 0;}
	.btn_type_02:after {width:70px; height: 8px; background-size: 70px auto;}
	
	.tab_type_list_01 ul li a {font-size: 14px;}
	.tab_type_list_01 ul li.on a {border-bottom:2px solid #F2B41B;}
	
	.container .section_title {padding-left:40px;margin-bottom: 20px;}
	.container .section_title:before {width:30px; height: 40px; background-size: 30px auto;}
	.container .section_title:after {left:43px; width:80px; height: 3px;}
	.container .section_title_02:after {width:140px; height: 3px;}
	
	.class_box_type_01 .class_box_type_01--item {width:calc(33.33% - 10px); width:-webkit-calc(33.33% - 10px); margin-right: 15px;; }
	.class_box_type_02 .class_box_type_02--item {width:calc(50% - 5px); width:-webkit-calc(50% - 5px); margin-right: 10px; margin-bottom: 20px;}
	.class_box_type_02 .class_box_type_02--item:nth-child(2n) {margin-right: 0;}
	
	.process_step_wrap .process_step_list .tooltip_box .title_r_01 {top:-20px;}
	.process_step_wrap .process_step_list .process_step_item:after {content:none;}
	
	/*============== classes ==============*/
	.classes_grid_wrap .option_wrap {float: none; width: 100%;}
	.classes_grid_wrap .courses_wrap {position: relative;float: none; padding-left: 0; width: 100%; padding-top: 50px;}
	.courses_wrap .sort_by_box {position: absolute; right:0; top:10px;}
	.courses_wrap .sort_by_box .sort_kind_item {min-width: 120px;}
	.option_wrap .filter_mo_btn{display: inline-block; position: absolute; left:0; top:0; z-index: 10;}
	.option_wrap .option_list_wrap {position: fixed;right: -9999px;top: 0;width: 70%;height: 100%;background: #fff;z-index: 200;padding:40px 20px; transition: right .5s;}
	.option_wrap.on .option_list_wrap {right:0;}
	.option_wrap.on .option_inner{ display: block; position: fixed; left:0; top:0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 200;}
	.option_wrap .filter_close_btn {opacity: 0; position: absolute; right:14px; top:0; width:20px; height: 26px; z-index: 210; transition:all 1s;}
	.option_wrap.on .filter_close_btn {opacity: 1;}
	.option_wrap .filter_close_btn:before {content:''; display: inline-block; width:20px; height: 2px; background: #000; transform: rotate(-45deg);}
	.option_wrap .filter_close_btn:after {content:''; display: inline-block; width:20px; height: 2px; position: absolute; right:0; top:13px; background: #000;transform: rotate(45deg);}
	
	.info_input_wrap .write_box{padding:20px 50px;}
	.info_input_wrap .section_inner--full {padding:20px;}
	/*================table layout===================*/
	.schedules_table_cont .schedules_table thead {display: none;}
	.schedules_table_cont .schedules_table tbody tr {position: relative;display: block; border-bottom: 1px solid #c3c3c3;}
	.schedules_table_cont .schedules_table tbody td {display: block; border-bottom: 0; padding:3px 0; text-align: left;}
	.schedules_table_cont .schedules_table tbody .location {font-size: 20px; font-weight: 700;}
	.schedules_table_cont .schedules_table tbody .days {position: absolute; right:0; top:33px;}
	.schedules_table_cont .schedules_table tbody .start {position: absolute; right:0; top:58px;}
	.new-ac .list-3 {
		flex-direction: column;
	}
}
@media screen and (max-width: 640px){
	.title_r_00 {font-size: 40px;}
	.title_r_01 {font-size: 30px;}
	.title_r_02 {font-size: 24px;}
	.title_r_03 {font-size: 16px;}
	
	.container .section_inner {padding:0 20px;}
	.container .section_title:after {top:34px; width:80px; height: 3px;}
	
	.file_box .upload_name {padding:.7em .5em;}
	.file_box label {padding:.7em .5em;font-size: 14px;}
	
	.box_type_01 {margin:0;}
	.box_type_01 .box_type_01--item {width:100%; padding:0; margin-bottom: 15px; float: none;}
	.box_type_01.video_list .box_type_01--desc .btn_type_01--sec {bottom:10px;}
	.btn_type_01--sec {padding:10px 0; height: 42px;}
	
	.box_type_02_wrap .box_type_02 .box_type_02--item {width:100%; margin-right: 0;}
	
	.ul_type_01 > li {margin-bottom: 10px;}
	
	/*mentor_popup*/
	.mentor_popup .mentor_img_box{float: none; width:100%;text-align: center;}
	.mentor_popup .mentor_info_box{float: none; width:100%; margin-top: 30px; padding-left: 0; }
	.mentor_popup .mentor_info_box ul li {margin-top: 10px;}

		/*mentor_popup_custom*/
		.mentor_popup_custom .mentor_img_box{float: none; width:100%;text-align: center;}
		.mentor_popup_custom .mentor_info_box{float: none; width:100%; margin-top: 30px; padding-left: 0; }
		.mentor_popup_custom .mentor_info_box ul li {margin-top: 10px;}
	
	.testimonials_popup {width:80%;}
	
	.tab_type_list_01 ul li + li {margin-left: 10px;}
	
	.sub .visual_wrap .text_box {left:20px;}
	
	.swiper-container .swiper-button-prev {width:15px; height: 50px; margin-top: -25px; background-size: 15px auto;}
	.swiper-container .swiper-button-next {width:15px; height: 50px; margin-top: -25px; background-size: 15px auto;}
	.swiper-container .swiper-button-prev.black {width:15px; left:5px; height: 50px; margin-top: -25px; background-size: 15px auto;}
	.swiper-container .swiper-button-next.black {width:15px; right:5px; height: 50px; margin-top: -25px; background-size: 15px auto;}
	
	.swipe_type_01_wrap .swiper-container {margin:0 24px;}
	.locations_list .locations_text p {font-size: 13px;}
	
	.class_box_type_01 .class_box_type_01--item {width:calc(50% - 5px); width:-webkit-calc(50% - 5px); margin-right: 10px;  margin-bottom: 15px;}
	.class_box_type_01 .class_box_type_01--item:nth-child(3n) {margin-right: 10px;}
	.class_box_type_01 .class_box_type_01--item:nth-child(2n) {margin-right: 0;}
	
	/*============== classes ==============*/
	.courses_wrap > div > a {position: relative; text-align: center;}
	
	.info_input_wrap .write_box {padding:20px;}
	
	.flie_down_wrap li {margin-bottom: 10px;}
	.flie_down_wrap li a {width:100%;}
	.new-ac .list-3 {
		flex-direction: column;
	}
}
@media screen and (max-width: 480px){
	.blog_wrap .video_wrap iframe {height: 156px;}

	.new-ac .list-3 {
		flex-direction: column;
	}
}
@media screen and (max-width: 320px){
	.title_r_01 {font-size: 28px; line-height: 1.2;}
	.title_r_03 {font-size: 14px;}
	.tab_type_list_01 ul li a {font-size: 12px;}
}