@charset "utf-8";
/*============== sub common ==============*/
.sub .container .title_wrap {margin-top:80px;}
.sub .model_wrap .section_inner{overflow: hidden;}
.sub .model_wrap .text_box {float: left; width:60%; padding-top: 100px; padding-right: 50px; box-sizing: border-box;}
.sub .model_wrap .text_box .text{margin-top: 20px;}
.sub .model_wrap .model_img_box{float: right; width:40%; text-align: center;}
.sub .registration_box {margin-top:30px; text-align: center;}
.sub .registration_box p{margin-bottom: 20px;}
.sub .registration_box .btn_box > a{display: inline-block; margin-right: 40px;}
.sub .registration_box .btn_box > a + a {margin-right: 0;}
.sub .course_detail_box ul {overflow: hidden; margin-top: 60px;}
.sub .course_detail_box ul li {float: left; width:33.33%; text-align: center;}
.sub .course_detail_box ul li img{margin-bottom: 20px;}
.sub .course_detail_box ul li p{color:#8b8b8b;}
.sub .course_objective_wrap .section_inner {overflow: hidden;}
.sub .course_objective_wrap .objective_list {float: left; width:60%; margin-top: 30px; padding-left:100px;}
.sub .course_objective_wrap .objective_list li {margin-bottom: 30px;}
.sub .course_objective_wrap .img_box{float: right; width:40%;}
.sub .course_books_wrap .section_inner {overflow: hidden;}
.sub .course_books_wrap .img_box{float: left; width:40%;}
.sub .course_books_wrap .books_list {float: right; width:60%; padding-left: 30px;}
.sub .course_books_wrap .books_list li {margin-bottom: 20px;}
.sub .course_books_wrap .books_list li strong{font-weight: 700; font-size: 16px;}
.sub .skills_wrap .section_inner {position: relative;overflow: hidden;}
.sub .skills_wrap .img_box {float: left; width:50%; padding-left: 100px;}
.sub .skills_wrap .skills_list {float: right; width:50%; margin-top: 30px; padding-left: 20px;}
.sub .skills_wrap .skills_list li {margin-bottom: 30px;}
.sub .spotlight_wrap .grid_type_wrap_01 {padding-bottom: 30px; border-bottom: 1px solid #ddd;}
.sub .spotlight_wrap .main_article {padding-right: 20px;}
.sub .spotlight_wrap .main_article .img_box {position: relative; padding-top: 50%; border-radius: 20px; max-height: 368px; overflow: hidden;}
.sub .spotlight_wrap .main_article .img_box img {width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%); -webkit-transform: translateX(-50%) translateY(-50%);  -moz-transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%);  -o-transform: translateX(-50%) translateY(-50%); }
.sub .spotlight_wrap .main_article .video_box {position: relative; padding-top: 50%; border-radius: 20px; max-height: 368px; overflow: hidden;}
.sub .spotlight_wrap .main_article .video_box video {width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%);-webkit-transform: translateX(-50%) translateY(-50%);  -moz-transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%);  -o-transform: translateX(-50%) translateY(-50%); }
.sub .spotlight_wrap .main_article .video_box iframe {width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%);-webkit-transform: translateX(-50%) translateY(-50%);  -moz-transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%);  -o-transform: translateX(-50%) translateY(-50%); }
.sub .spotlight_wrap .section_title_02 {margin: 10px 0 30px;}
.sub .spotlight_wrap .text--gray {line-height: 1.6;}
.sub .spotlight_wrap .sub_article ul li {overflow: hidden;border-bottom: 1px solid #ddd; padding: 20px 0;}
.sub .spotlight_wrap .sub_article ul li:last-child {border-bottom: 0;}
.sub .spotlight_wrap .sub_article .img_box {position: relative; width:30%; float: left; padding-top: 23%;overflow: hidden;}
.sub .spotlight_wrap .sub_article .img_box img{width:100%;position: absolute;top: 50%;left: 50%;width: auto;height: auto;min-width: 100%;min-height: 100%;transform: translate(-50%, -50%); -webkit-transform: translateX(-50%) translateY(-50%);  -moz-transform: translateX(-50%) translateY(-50%);  -ms-transform: translateX(-50%) translateY(-50%);  -o-transform: translateX(-50%) translateY(-50%);}
.sub .spotlight_wrap .sub_article .video_box {position: relative;width:30%; padding-top: 21%; border-radius: 10px; float: left; overflow: hidden;}
.sub .spotlight_wrap .sub_article .video_box video {position: absolute; left:0; top:0; width:100%; height: 100%; border-radius: 10px;min-width: 100%;min-height: 100%; object-fit: cover;}
.sub .spotlight_wrap .sub_article .video_box iframe {position: absolute; left:0; top:0; width:100%; height: 100%; border-radius: 10px;min-width: 100%;min-height: 100%; object-fit: cover;}
.sub .spotlight_wrap .sub_article .text_box {width:70%; padding-left: 20px; float: right;}
.sub .spotlight_wrap .sub_article .text_box .date {margin-bottom:5px;}
.sub .spotlight_wrap .sub_article .text_box .flag_type_02 {margin-bottom:5px;}

/*============== aboutus ==============*/
.about_us .about_intro_wrap .video_wrap{width:50%; max-height: 317px;  overflow: hidden; background: #c4c4c4;}
.about_us .about_intro_wrap .video_desc_wrap{width:50%;}
.about_us .about_intro_wrap .s_title {margin-bottom: 20px;}
.about_us .about_intro_wrap .s_desc {line-height: 1.4;}
/*.about_us .partners_wrap .partners_cont ul{overflow: hidden; margin: -10px;}
.about_us .partners_wrap .partners_cont li {float: left; position: relative; width:16.6%; padding:10px; border-radius: 10px;}
.about_us .partners_wrap .partners_cont li .img_item {position: relative; padding-top:50%; overflow: hidden; border-radius: 10px;}
.about_us .partners_wrap .partners_cont li img{ position: absolute; top: 50%; right:0%; width: auto; height: auto; min-width: 100%; min-height: 100%; transform: translateY(-50%);}*/
.about_us .story_wrap .swiper-pagination-bullets .swiper-pagination-bullet {background: #F2B41B; opacity: 1;}
.about_us .story_wrap .swiper-pagination-bullets .swiper-pagination-bullet-active { width:50px; border-radius: 12px; background: #F2B41B; opacity: 1;}
/*============== classes ==============*/
.classes .visual_wrap{background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/classes_visual.png') right no-repeat; background-size: cover;}


/*============== all_elmentary_courses ==============*/
.all_elmentary_courses .visual_wrap{background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/classes_visual.png') right no-repeat; background-size: cover;}
.all_elmentary_courses footer {margin-top: 0;}

/*============== class_datail ==============*/
.class_datail .title_box {margin-bottom: 30px;}
.class_datail .lesson_list_wrap {padding:40px 0 80px;background: #3a3a3a; color:#fff;}
.class_datail .lesson_list_wrap .desc{color:#fff;}
.class_datail .lesson_list_wrap .video_wrap {width:70%; padding-right: 1.5%;}
.class_datail .lesson_list_wrap .lesson_list ul{max-height: 380px; overflow-y: auto;}
.class_datail .lesson_list_wrap .lesson_list ul::-webkit-scrollbar { width: 15px;}
.class_datail .lesson_list_wrap .lesson_list ul::-webkit-scrollbar-thumb { background-color: #e5e5e5; border-radius: 10px;}
.class_datail .lesson_list_wrap .lesson_list ul::-webkit-scrollbar-track { background-color: #6b6b6b;}
.class_datail .lesson_list_wrap .lesson_list .title_r_03 {margin-bottom: 20px;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item{}
.class_datail .lesson_list_wrap .lesson_list .lesson_item.on{border-radius: 10px; border:1px solid #e5e5e5;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item a{display: block; overflow: hidden; padding:15px; margin-bottom: 5px; }
.class_datail .lesson_list_wrap .lesson_list .lesson_item p{font-size: 14px; color:#e5e5e5;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item .class_name{float: left;}
.class_datail .lesson_list_wrap .lesson_list .lesson_item .class_time{float: right;}
.class_datail .lesson_desc_wrap .section_inner {position: relative; overflow: hidden;}
.class_datail .lesson_desc_wrap .enroll_btn {position: absolute; right:0; top:0;}
.class_datail .lesson_desc_wrap .tab_cont_area {float: left;width:60%; box-sizing: border-box; padding-right: 5%;}
.class_datail .lesson_desc_wrap .btn_box--right a {display: inline-block;}
.class_datail .lesson_desc_wrap .mentor_cont .cont {overflow: hidden;}
.class_datail .lesson_desc_wrap .mentor_cont .mentor_box {float: left;text-align: center;}
.class_datail .lesson_desc_wrap .mentor_cont .mentor_box img {border-radius: 50%;}
.class_datail .lesson_desc_wrap .mentor_cont .cont > p {padding-left: 30%;}
.class_datail .lesson_info_wrap {float: right; width:40%; border-bottom: 1px solid #e4e4e4; padding-bottom: 20px; margin-top: 60px;text-align: center;}
.class_datail .lesson_info_wrap .unit_txt {font-size: 16px;}
.class_datail .lesson_info_wrap .level_wrap  {display: inline-block;text-align: center;}
.class_datail .lesson_info_wrap .level_graph span{display: inline-block;width:10px; height: 30px; vertical-align: bottom; background: #c4c4c4; border-radius: 5px; margin-right: 5px;} 
.class_datail .lesson_info_wrap .level_graph span:nth-child(2) {height: 40px;}
.class_datail .lesson_info_wrap .level_graph span:nth-child(3) {height: 50px;}
.class_datail .lesson_info_wrap .level_graph .full {background: #f4b41b;}
.class_datail .lesson_info_wrap .student_wrap  {display: inline-block; margin-left: 80px;text-align: center;}
.class_datail .courses_wrap .title_r_02{ margin-bottom: 25px;}
.class_datail .courses_wrap .section_inner {padding-top: 30px;border-top: 1px solid #e4e4e4;}


/*============== careers ==============*/
.careers .visual_wrap {background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/careers_visual.png') center no-repeat; background-size: cover;}
.careers .visual_wrap .title_r_01 {color:#fff;}
.careers .offer_wrap .offer_list ul{overflow: hidden;margin-top: 40px;}
.careers .offer_wrap .offer_list ul li{position: relative;display: inline-block;float: left; width:25%; margin-bottom: 40px; font-size: 0; vertical-align: top;}
.careers .offer_wrap .offer_list ul li:nth-child(2n) {width:27%;}
.careers .offer_wrap .offer_list ul li:nth-child(2n+1) {width:23%;}
.careers .offer_wrap .offer_list ul li .title_r_03 {font-size: 19px;}
.careers .offer_wrap .offer_list .offer_icon_box {display: inline-block;width:35%; vertical-align: middle;}
.careers .offer_wrap .offer_list .text_box {display: inline-block;width:65%; vertical-align: middle;}
.careers .section_inner {overflow: hidden;}
.careers .open_position_wrap .section_inner {position: relative;}
.careers .open_position_wrap .btn_type_01.all {position: absolute; right:0; top:0;}

/*============== job_description ==============*/
.job_description .visual_wrap {background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/job-description/job-description_visual.png') center no-repeat; background-size: cover;}
.job_description .visual_wrap .title_r_01 {color:#fff;}
.job_description .visual_wrap .text_box .info p {display: inline-block; color:#fff; padding:5px 0 5px 30px; font-size: 16px;}
.job_description .visual_wrap .text_box .info .loaction {background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/job-description/location_icon.png') left center no-repeat;}
.job_description .visual_wrap .text_box .info .time {background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/job-description/calendar_icon.png') left center no-repeat;}
.job_description .visual_wrap .text_box .info p + p {margin-left: 100px;}
.job_description .file_box {margin-top: 30px;}
.job_description .file_box p {margin-bottom: 10px;}
 
/*============== admission_consulting ==============*/
.admission_consulting .visual_wrap {background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/AC-new.png') right no-repeat; background-size: cover;}
.admission_consulting .info_wrap .title_r_03 {text-align: center; margin:30px 0 25px;}
.admission_consulting .info_wrap .swiper-pagination-bullets .swiper-pagination-bullet {background: #F2B41B; opacity: 1;}
.admission_consulting .info_wrap .swiper-pagination-bullets .swiper-pagination-bullet-active { width:50px; border-radius: 12px; background: #F2B41B; opacity: 1;}
.admission_consulting .info_wrap .btn_type_01--sec {margin: 0 auto;}
.admission_consulting .approach_wrap {overflow: hidden;}
.admission_consulting .approach_wrap .process_step_wrap {padding: 20px 0 50px;}
.admission_consulting .approach_wrap .process_step_wrap .swiper-pagination-progressbar {bottom:-50px;}
.admission_consulting .approach_wrap .process_step_wrap .process_step_list .process_step_item .step {font-size: 14px;}
.admission_consulting .class_box_type_01 .class_box_type_01--desc { padding:20px 16px; text-align: center;}
.admission_consulting .class_box_type_01 .class_box_type_01--desc .text{text-align: left; margin-bottom:10px;}
.admission_consulting .class_box_type_01 .class_box_type_01--desc .title_r_03 {-webkit-line-clamp: 1; height: 1.2em; margin-bottom: 5px;}
.admission_consulting .results_swiper_01 {margin:74px 0 100px;} 
.admission_consulting .services_wrap .grid_type_wrap_02 {margin-top: 30px;}
.admission_consulting .services_wrap .service_box {overflow: hidden;}
.admission_consulting .services_wrap .service_box .section_title_02:after {width:100px;}
.admission_consulting .services_wrap .service_box .service_img_box {float: left;width:50%; padding-right: 10px;}
.admission_consulting .services_wrap .service_box .service_text_box {float: right;width:50%; padding-left: 10px;}

/*============== all_ms_courses ==============*/
.all_ms_courses .visual_wrap{background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/program/ms_visual.png') right no-repeat; background-size: cover;}

/*============== all_debate_courses ==============*/
.all_debate_courses .visual_wrap{background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/program/debate_visual.png') right no-repeat; background-size: cover;}

/*============== all_test_prep_courses ==============*/
.all_test_prep_courses .visual_wrap{background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/program/test_prep_visual.png') right no-repeat; background-size: cover;}
.all_test_prep_courses .model_wrap .text_box {padding-right: 80px;}

/*=============class_detail schedules========*/
.schedules .title_wrap h2 {text-align: center;}

/*=============class_detail IELTS========*/
.IELTS .course_detail_box ul li {width:25%;}
.IELTS .course_books_wrap .img_box {float: right; width:50%;}
.IELTS .course_books_wrap .books_list {float: left; width:50%; padding-left: 100px;}

/*=============article ========*/
.article .visual_wrap{background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/news/article_visual.png') right no-repeat; background-size: cover;}
.article .visual_wrap .text_box {color:#fff; top:40%;}
.article .article_wrap img {width:100%; margin: 30px 0; height: auto; object-position: center; 	object-fit: cover;}
.article .article_wrap .greet {font-size: 18px; font-weight: 800; margin-top: 30px;}
.article .article_wrap p {font-size: 16px; margin-bottom: 1rem;}
.article .article_wrap a {color:#007bff;}
.article .article_wrap ol {padding-left: 40px; margin-bottom: 30px; list-style: none;}
.article .article_wrap li {list-style: none;}
.article .article_wrap hr {display: block;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0, 0, 0, 0.1);-webkit-box-sizing: content-box; -moz-box-sizing: content-box;  box-sizing: content-box; /* 1 */  height: 0;  /* 1 */  overflow: visible;  /* 2 */}
.article .article_wrap ul {padding:0 40px; list-style-type: disc;}
.article .article_wrap ul li {list-style:unset;}

/*=============news ========*/
.news .container .section_inner{position: relative;}
.news .container .btn_type_01.view {position: absolute; right:0; top:0;}
.news .event_wrap .box_type_01 .date {position: relative; padding-left: 30px; margin: 10px 0;}
.news .event_wrap .box_type_01 .date p + p {margin-top: 5px;}
.news .event_wrap .box_type_01 .date:before {content:''; position: absolute; left:0; top:0; display: inline-block; width:20px; height: 20px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/calendar_s_icon.png') no-repeat;}
.news .event_wrap .box_type_01 .location {position: relative; padding-left: 30px; margin: 10px 0;}
.news .event_wrap .box_type_01 .location:before {content:''; position: absolute; left:0; top:0; display: inline-block; width:20px; height: 20px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/location_s_icon.png') no-repeat;}
.news .box_type_01 .box_type_01--item {margin-bottom: 20px;}


/*=============point_avenue_tv ========*/
.point_avenue_tv .youtube_wrap {background: #c4c4c4; text-align: center; padding:200px 0 80px;}
.point_avenue_tv .youtube_wrap .btn_type_01--sec{margin: 30px auto 0;}

/*=============scholarhip ========*/
.scholarhip .visual_wrap{background:url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/scholarship/visual.png') right no-repeat; background-size: cover;}
.scholarhip .process_step_wrap .section_inner {overflow: hidden;}
.scholarhip .process_step_wrap .process_step_list .process_step_item {width:33.33%;}
.scholarhip .process_step_wrap .process_step_list .tooltip_box {max-width:200px; margin-left: -100px; bottom:250px;}
.scholarhip .process_step_wrap .process_step_list .process_step_item .step {width:70%; margin:167px auto;padding:13px 10px; border-radius: 20px;}
.scholarhip .process_step_wrap .process_step_list .process_step_item:nth-child(2n) .tooltip_box {top:260px;}
.scholarhip .apply_wrap .grid_type_wrap_02 .text_box {padding-left: 100px;}
.scholarhip .apply_wrap .grid_type_wrap_02 .text_box p {margin:20px 0 50px;}
.scholarhip .apply_wrap .grid_type_wrap_02 .text_box li {margin-bottom: 50px;}
.scholarhip .apply_wrap .grid_type_wrap_02 .img_box img{width:100%;}
.scholarhip .info_input_wrap .typing_box {overflow: hidden;}
.scholarhip .info_input_wrap .typing_box input{display: inline-block; vertical-align: top;}
.scholarhip .info_input_wrap .typing_box .grade {float: right;width:40%;}
.scholarhip .info_input_wrap .typing_box .phone {float: left;width:50%; margin-top: 15px;}
.scholarhip .info_input_wrap .typing_box .email {float: right;width:40%;}
.scholarhip .info_input_wrap .write_box {width:770px;}
.scholarhip .info_input_wrap .choose_box {margin-top: 20px; text-align: left; overflow: hidden;}
.scholarhip .info_input_wrap .choose_box p{display: inline-block; float: left; vertical-align: middle; line-height: 40px;font-weight: 700;}
.scholarhip .info_input_wrap .choose_box .select_box{float: right;}
.scholarhip .info_input_wrap .choose_box select {display: inline-block;width:170px; border: 0; border-bottom: 1px solid #000; border-radius: 0; }
.scholarhip .info_input_wrap .choose_box select option {color:#333;}
.scholarhip .info_input_wrap .choose_box select + select {margin-left: 20px;}
.scholarhip .swiper-pagination-bullets .swiper-pagination-bullet {background: #F2B41B; opacity: 1;}
.scholarhip .swiper-pagination-bullets .swiper-pagination-bullet-active { width:50px; border-radius: 12px; background: #F2B41B; opacity: 1;}

/*============= summer_boarding_camp ========*/
.summer_boarding_camp .container {background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg.png') no-repeat; background-position:center top 400px ;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;background-size: 100% 100%;}
.summer_boarding_camp .container .section_inner{position: relative; z-index: 10;}
.summer_boarding_camp .visual_wrap {background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/visual.png') right no-repeat; background-size: cover;}
.summer_boarding_camp .camp_info_wrap .video_article video{width: 100%; border-radius: 20px;}
.summer_boarding_camp .camp_info_wrap .text_article {padding-left: 40px;}
.summer_boarding_camp .camp_info_wrap .btn_box {text-align: center; margin-top: 40px;}
.summer_boarding_camp .camp_info_wrap .btn_box a {margin: 0 auto;}
.summer_boarding_camp .philosophy_wrap .section_inner{position: relative; z-index: 10;}
.summer_boarding_camp .philosophy_wrap .cloud_wrap .cloud_item_01{position: absolute; left:-80px; top:-100px; width:110px; height: 72px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/cloud_01.png') no-repeat; z-index: -1; }
.summer_boarding_camp .philosophy_wrap .cloud_wrap .cloud_item_02{position: absolute; right:0px; top:-10px; width: 96px; height: 95px; background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/cloud_02.png') no-repeat; z-index: -1;}
.summer_boarding_camp .philosophy_wrap .cloud_wrap .cloud_item_03{position: absolute; left:-100px; bottom:-50px; width:129px; height: 85px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/cloud_03.png') no-repeat; z-index: -1;}
.summer_boarding_camp .differences_wrap .asset_list  {overflow: hidden; margin-top:100px;}
.summer_boarding_camp .differences_wrap .asset_item {float: left; width:33.33%; text-align: center;}
.summer_boarding_camp .differences_wrap .asset_item:nth-child(n+4) {width:50%; margin-top: 20px;}
.summer_boarding_camp .differences_wrap .asset_item .title_r_03 {margin: 10px 0;}
.summer_boarding_camp .location_wrap .swiper-container{text-align: center;}
.summer_boarding_camp .offers_wrap .brochure_box {margin: 100px 0;text-align: center;}
.summer_boarding_camp .offers_wrap .brochure_box img{border-radius: 10px; box-shadow: 3px 5px 10px 0px #aaa;}
.summer_boarding_camp .info_input_wrap {padding-bottom: 100px;}
.summer_boarding_camp .info_input_wrap .section_inner--full {background: none;}
.summer_boarding_camp .info_input_wrap .typing_box {overflow: hidden;}
.summer_boarding_camp .info_input_wrap .write_box .input_box input {float: left;}
.summer_boarding_camp .info_input_wrap .write_box .input_box .name {width:40%;}
.summer_boarding_camp .info_input_wrap .write_box .input_box .phone {width:30%; margin-left: 2%;}
.summer_boarding_camp .info_input_wrap .write_box .input_box .grade {width:20%; margin-left: 2%;}
.summer_boarding_camp .info_input_wrap .choose_box {margin-top: 40px;}
.summer_boarding_camp .info_input_wrap .choose_box p {display: inline-block; font-weight: 700;}
.summer_boarding_camp .info_input_wrap .choose_box .radio_wrap {display: inline-block; margin-left: 100px;}
.summer_boarding_camp .info_input_wrap .choose_box .radio_wrap label + input + label {margin-left:30px;}
.summer_boarding_camp .swiper-pagination-bullets .swiper-pagination-bullet {background: #F2B41B; opacity: 1;}
.summer_boarding_camp .swiper-pagination-bullets .swiper-pagination-bullet-active { width:50px; border-radius: 12px; background: #F2B41B; opacity: 1;}


/*============= summer_boarding_camp ========*/
.summer_day_camp .visual_wrap {background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/visual.png') right no-repeat; background-size: cover;}
.summer_day_camp .visual_wrap .title_r_01 {color:#fff;}
.summer_day_camp .camp_info_wrap .video_box video {width:100%; border-radius: 20px;}
.summer_day_camp .camp_info_wrap .text_article {padding-right: 30px;}
.summer_day_camp .camp_info_wrap .text_article li {margin:22px 0;}
.summer_day_camp .camp_info_wrap .text_article li:first-child {margin-top:0;}
.summer_day_camp .camp_info_wrap .text_article li:last-child {margin-bottom:0;}
.summer_day_camp .info_input_wrap .section_inner--full{background: none;}
.summer_day_camp .info_input_wrap .typing_box {overflow: hidden;}
.summer_day_camp .info_input_wrap .write_box {position: relative; z-index: 1;}
.summer_day_camp .info_input_wrap .write_box .input_box input {float: left;}
.summer_day_camp .info_input_wrap .write_box .input_box .name {width:40%;}
.summer_day_camp .info_input_wrap .write_box .input_box .phone {width:30%; margin-left: 2%;}
.summer_day_camp .info_input_wrap .write_box .input_box .grade {width:20%; margin-left: 2%;}
.summer_day_camp .info_input_wrap .choose_box {margin-top: 40px;}
.summer_day_camp .info_input_wrap .choose_box p{display: inline-block; font-weight: 700;}
.summer_day_camp .info_input_wrap .choose_box .radio_wrap{display: inline-block; margin-left: 100px;}
.summer_day_camp .info_input_wrap .choose_box .radio_wrap label + input + label {margin-left:30px;}
.summer_day_camp .future_wrap {padding-top: 350px; margin-top: -300px; padding-bottom: 380px; margin-bottom: -380px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/bg_01.png') no-repeat; background-position:center top ;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;background-size: 100% 100%;}
.summer_day_camp .ul_type_03 li {margin-bottom:22px;}
.summer_day_camp .swiper-pagination-bullets .swiper-pagination-bullet {background: #1960A1; opacity: 1;}
.summer_day_camp .swiper-pagination-bullets .swiper-pagination-bullet-active { width:50px; border-radius: 12px; background: #1960A1; opacity: 1;}
.summer_day_camp .schedule_wrap .swiper-container {text-align: center;}
.summer_day_camp .meet_team_wrap { padding-bottom: 800px; margin-bottom: -800px;background: url('https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/bg_02.png') no-repeat; background-position:center top ;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;background-size: 100% 100%;}
.summer_day_camp .meet_team_wrap .video_box video {width:100%; border-radius: 20px;}
.summer_day_camp .meet_team_wrap .text_article {padding-left: 20px;}
.summer_day_camp .offers_wrap .brochure_box {margin: 100px 0;text-align: center;}
.summer_day_camp .offers_wrap .brochure_box img{border-radius: 10px; box-shadow: 3px 5px 10px 0px #aaa;}
.summer_day_camp .offers_wrap .text_box{text-align: center;}
.summer_day_camp .offers_wrap .text_box .btn_type_01--sec {margin:30px auto 0;}

@media screen and (max-width:1200px) {
	/*sub common*/
	.sub .course_overview_wrap .video_desc_wrap {margin-top: 40px;padding-left: 0;}
	.sub .course_objective_wrap .objective_list {padding-left: 0;}
	.sub .spotlight_wrap .grid_type_wrap_01 {padding-bottom: 0;}
	
	
	.class_datail .lesson_desc_wrap .enroll_btn {right:40px;}
	.careers .open_position_wrap .btn_type_01.all {right:40px;} 
	
	/*============== admission_consulting ==============*/
	.admission_consulting .info_wrap .img_wrap {text-align: center; margin-bottom: 20px;}
	
	/*=============news ========*/
	.news .container .btn_type_01.view {right:40px;}
	.news .container .sub_article{margin-top:40px;}
	.news .container .sub_article .section_title {margin-bottom: 20px;}
	
	/*=============scholarhip ========*/
	.scholarhip .info_input_wrap .write_box {width:100%;}
	.scholarhip .info_input_wrap .typing_box .phone {float: none; width: 100%;}
	.scholarhip .info_input_wrap .typing_box .grade {float: none; width: 100%;}
	.scholarhip .info_input_wrap .typing_box .email {float: none; width: 100%;}

	/*============= summer_boarding_camp ========*/
	.summer_boarding_camp .camp_info_wrap .text_article {padding-left: 0; margin-top: 30px;}
	.summer_boarding_camp .philosophy_wrap .cloud_wrap .cloud_item_01{left:0; top:-50px; }
	.summer_boarding_camp .philosophy_wrap .cloud_wrap .cloud_item_02{ right:0; top:50px;}
	.summer_boarding_camp .philosophy_wrap .cloud_wrap .cloud_item_03{left:0;bottom:0;}
	.summer_boarding_camp .differences_wrap .title_r_02 {margin-bottom:100px;}
	
	/*============= summer_boarding_camp ========*/
	.summer_day_camp .meet_team_wrap .text_article {margin-top: 20px;padding-left:0px;}
}
@media screen and (max-width:1000px) {
	
	/*=============sub common========*/
	.sub .course_objective_wrap .img_box {float: none; width:100%;}
	.sub .course_objective_wrap .img_box img{ width:100%;}
	.sub .course_objective_wrap .objective_list{float: none; width:100%;}
	.sub .course_books_wrap .img_box {float: none; width:100%;}
	.sub .course_books_wrap .img_box img {width:100%;}
	.sub .course_books_wrap .books_list {float: none; width:100%; padding-left: 0; margin-top: 40px;}
	.sub .skills_wrap .section_inner {position: relative;overflow: hidden;}
	.sub .skills_wrap .img_box {float: none; width:100%; padding-left: 0;}
	.sub .skills_wrap .img_box img {width:100%;}
	.sub .skills_wrap .skills_list {float: none; width:100%;  margin-top: 30px; padding-left: 0px;}
	.sub .skills_wrap .skills_list li {margin-bottom: 20px;}
	
	/*============== aboutus ==============*/
	.about_us .about_intro_wrap .video_wrap {width:100%;}
	.about_us .about_intro_wrap .video_desc_wrap {width:100%; padding-left: 0;}
	.about_us .partners_wrap .partners_cont li {width:25%;}
	/*============== class_datail ==============*/
	.class_datail .lesson_list_wrap .video_wrap {float: none;width:100%; padding-right: 0;}
	.class_datail .lesson_list_wrap .lesson_list {margin-top: 20px; }
	.class_datail .lesson_desc_wrap .tab_cont_area {float: none; width: 100%; padding-right: 0;}
	.class_datail .lesson_info_wrap {float: none; width:100%;}
	.class_datail .project_desc_cont .btn_box--right {text-align: center; margin-top: 20px;}
	/*============== careers ==============*/
	.careers .offer_wrap .offer_list .offer_icon_box {width:40%;}
	.careers .offer_wrap .offer_list .text_box {width:60%;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n+1) {width:50%;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n) {width:50%;}
	
	/*=============== admission_consulting ==============*/
	.admission_consulting .results_swiper_01 {margin:40px 0;}
	.admission_consulting .process_step_wrap .process_step_list .tooltip_box .title_r_01 {top:-40px;}
	.admission_consulting .services_wrap .service_box .service_img_box {float: none; width:100%;}
	.admission_consulting .services_wrap .service_box .service_text_box {float: none; width:100%; margin-top: 20px;}
	
	/*============= summer_boarding_camp ========*/
	.summer_boarding_camp .info_input_wrap .write_box .input_box input {float: none;}
	.summer_boarding_camp .info_input_wrap .write_box .input_box .name {width:100%;}
	.summer_boarding_camp .info_input_wrap .write_box .input_box .phone {width:100%; margin-left: 0%;}
	.summer_boarding_camp .info_input_wrap .write_box .input_box .grade {width:100%; margin-left: 0%;}
	
	/*============= summer_day_camp ========*/
	.summer_day_camp .camp_info_wrap .video_box {margin-top: 20px;}
	.summer_day_camp .info_input_wrap .write_box .input_box input {float: none;}
	.summer_day_camp .info_input_wrap .write_box .input_box .name {width:100%;}
	.summer_day_camp .info_input_wrap .write_box .input_box .phone {width:100%; margin-left: 0%;}
	.summer_day_camp .info_input_wrap .write_box .input_box .grade {width:100%; margin-left: 0%;}
	
}

@media screen and (max-width:768px) {
	/*============== sub common ==============*/
	.sub .model_wrap .text_box {float: none; width:100%; margin-bottom: 40px; padding-right: 0; padding-top: 0; text-align: center;} 
	.sub .model_wrap .model_img_box{float: none; width:100%; text-align: center;}
	.sub .registration_box .btn_box > a {margin-right: 0; margin-bottom: 10px;}
	.sub .course_objective_wrap .objective_list li {margin-bottom: 20px;}
	
	/*============== aboutus ==============*/
	.about_us .partners_wrap .partners_cont li {width:33.33%;}
	/*============== all_elmentary_courses ==============*/
	.all_elmentary_courses .courses_wrap > div {margin-bottom: 0;}
	
	/*============== class_datail ==============*/
	.class_datail .container > .lesson_desc_wrap {margin-top: 40px;}
	.class_datail .lesson_desc_wrap .enroll_btn {position: relative;width:100%;  right:auto; top:auto;}
	.class_datail .lesson_desc_wrap .tab_cont_area {margin-top: 40px;}
	.class_datail .lesson_desc_wrap .mentor_cont .mentor_box {float: none;}
	.class_datail .lesson_desc_wrap .mentor_cont .cont > p {padding-left: 0; margin-top: 30px;}
	.class_datail .project_desc_cont .btn_box--right {margin: 30px 0;}
	.class_datail .lesson_desc_wrap .btn_box--right a {width:100%;}
	
	/*============== careers ==============*/
	.careers .offer_wrap .offer_list .offer_icon_box  {vertical-align: top;}
	.careers .offer_wrap .offer_list .offer_icon_box img{display: inline-block;width:70%; margin:0 auto; vertical-align: top;}
	.careers .open_position_wrap .btn_type_01.all {position: relative; right:0; width:100%; text-align: center;} 
	
	/*=============== admission_consulting ==============*/
	.admission_consulting .process_step_wrap .process_step_list .tooltip_box .title_r_01 {top:-30px;}

	/*=============class_detail IELTS========*/
	.IELTS .course_detail_box ul li {width:50%; margin-bottom: 30px;}
	
	/*=============news ========*/
	.news .container .btn_type_01.view {right:20px;}

	/*============= article ========*/
	.article .article_wrap table * {max-width: 100% !important;width: 100%;height: auto;display: block;	}
	
	/*=============scholarhip ========*/
	.scholarhip .apply_wrap .grid_type_wrap_02 .text_box {padding-left: 0;}
	.scholarhip .apply_wrap .grid_type_wrap_02 .text_box p {margin: 20px 0;}
	.scholarhip .apply_wrap .grid_type_wrap_02 .text_box li {margin-bottom: 20px;}
	
	/*============= summer_boarding_camp ========*/
	.summer_boarding_camp .offers_wrap .brochure_box {margin:30px 0;}
	.summer_boarding_camp .info_input_wrap .choose_box p {display: block;}
	.summer_boarding_camp .info_input_wrap .choose_box .radio_wrap {margin-left: 0; margin-top: 10px;}
	
	/*============= summer_day_camp ========*/
	.summer_day_camp .offers_wrap .brochure_box {margin:30px 0;}
	.summer_day_camp .info_input_wrap .choose_box p {display: block;}
	.summer_day_camp .info_input_wrap .choose_box .radio_wrap {margin-left: 0; margin-top: 10px;}
	
}

@media screen and (max-width:640px) {
	/*============== aboutus ==============*/
	.about_us .partners_wrap .partners_cont ul {margin: -5px;}
	.about_us .partners_wrap .partners_cont li {width:50%; padding:5px;}
	.locations_cont .swiper-container {margin:0 34px;}
	
	.class_datail .lesson_info_wrap .student_wrap {margin-left: 40px;}
	/*============== careers ==============*/
	.careers .offer_wrap .offer_list ul li {min-height: 90px; margin-bottom: 20px; border-bottom: 1px solid #e4e4e4;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n) {width:100%;}
	.careers .offer_wrap .offer_list ul li:nth-child(2n+1) {width:100%;}
	.careers .offer_wrap .offer_list .offer_icon_box { text-align: center;}
	.careers .offer_wrap .offer_list .offer_icon_box img {width:60px;}
	.careers .offer_wrap .offer_list .offer_icon_box {vertical-align: middle;}
	
	/*============== job_description ==============*/
	.job_description .visual_wrap .text_box {top:50%;}
	.job_description .visual_wrap .text_box .info p {display: block;}
	.job_description .visual_wrap .text_box .info .loaction {background-size: 16px auto;}
	.job_description .visual_wrap .text_box .info .time {background-size: 16px auto;}
	.job_description .visual_wrap .text_box .info p + p {margin-left: 0;} 
	
	/*=============== admission_consulting ==============*/
	.admission_consulting .process_step_wrap .process_step_list .tooltip_box .title_r_01 {top:-20px;}
	
	/*=============scholarhip ========*/
	.scholarhip .info_input_wrap .choose_box {text-align: center; margin-top: 0;}
	.scholarhip .info_input_wrap .choose_box p{float: none;}
	.scholarhip .info_input_wrap .choose_box .select_box{float: none;}
	.scholarhip .info_input_wrap .choose_box select {width:40%;}
	.scholarhip .process_step_wrap .process_step_list .tooltip_box {bottom:260px;}
	
	/*============= summer_boarding_camp ========*/
	.summer_boarding_camp .differences_wrap .asset_item {width:50%; margin-bottom: 40px; min-height: 180px;}
	.summer_boarding_camp .differences_wrap .asset_item img {width:70px;}
	.summer_boarding_camp .differences_wrap .asset_item:nth-child(n+4) {margin-top: 0;}
	.summer_boarding_camp .info_input_wrap {padding-bottom: 0; margin-top: 40px;}
	
}

@media screen and (max-width:320px) {
}