<!--Case Studies Popup:: start-->
<div class="layer_popup case_studies_popup">
	<div class="popup_cont">
		<p class="title"></p>
		<div class="case_studies_img_box">
			<div class="img_box">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/mentor.png" alt="">
			</div>
			<p class="title_r_03">Jesika</p>
			<p class="text--gray title_r_03"></p>
		</div>
		<div class="case_studies_info_box">
			<ul class="ul_type_02">
				<!-- <li>B.A in Drama, Studio Practice as well as Art History & Visual Culture, Rhodes University</li>
				<li>Head Teacher, Apax Leaders</li> -->
			</ul>
		</div>
	</div>
	<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
</div>
<!--Case Studies Popup:: end -->
<!--Mentor Profile Popup:: start-->
<div class="layer_popup mentor_popup">
	<div class="popup_cont">
		<div class="mentor_img_box">
			<!-- <img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/mentor.png" alt=""> -->
			<img src="" alt="">
			<p class="title_r_03">Jesika</p>
			<p class="text--gray title_r_03">Elementary Teacher</p>
		</div>
		<div class="mentor_info_box">
			<ul class="ul_type_02">
				<!-- <li>B.A in Drama, Studio Practice as well as Art History & Visual Culture, Rhodes University</li>
				<li>Head Teacher, Apax Leaders</li> -->
			</ul>
		</div>
	</div>
	<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
</div>

<div class="layer_popup mentor_popup_custom">
	<div class="popup_cont">
		<div class="mentor_img_box">
			<!-- <img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/mentor.png" alt=""> -->
			<img src="" alt="">
			<p class="title_r_03">Jesika</p>
			<p class="text--gray title_r_03">Elementary Teacher</p>
		</div>
		<div class="mentor_info_box">
			<ul class="ul_type_02">
				<!-- <li>B.A in Drama, Studio Practice as well as Art History & Visual Culture, Rhodes University</li>
				<li>Head Teacher, Apax Leaders</li> -->
			</ul>
		</div>
	</div>
	<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
</div>
<!--Mentor Profile Popup:: end -->
<!--공통팝업:: start-->
<div class="layer_popup contact_popup">
	<div class="popup_cont">
		<div class="contact_box">
			<p class="hotline">HOTLINE: 024 6295 9508</p>
			<p class="email"><a href="mailto:contact@pointavenue.com">EMAIL: contact@pointavenue.com</a></p>
		</div>
		<div class="contact_list">
			<ul>
				<li>
					<p class="tit">Cau Giay Campus</p>
					<p class="address">2nd & 3rd floor CT1 Building, Yen Hoa Park View, Cau Giay Dist., Ha Noi</p>
					<p class="phone">Phone: 024 6295 9508</p>
					<p class="hours">Working hours:</p>
					<p class="hours">Monday to Friday: 9h00 am - 9h00 pm</p>
					<p class="hours">Saturday and Sunday: 8:30 am - 5:30 pm</p>
				</li>
				<li>
					<p class="tit">Long Bien Campus</p>
					<p class="address">60 Chu Huy Man St., Sai Dong New Urban Area, Long Bien Dist., Ha Noi</p>
					<p class="phone">Phone: 024 3204 7055 | 024 3204 7366</p>
					<p class="hours">Working hours:</p>
					<p class="hours">Monday to Friday: 9h00 am - 9h00 pm</p>
					<p class="hours">Saturday and Sunday: 8:30 am - 5:30 pm</p>
				</li>
			</ul>
		</div>
		<a href="javascript:void(0);" class="close_btn"><span class="blind">닫기</span></a>
	</div>
</div>
<div class="dim">
</div>
<!--공통팝업:: end-->