<footer>
	<div class="footer_inner">
		<div class="footer_info_wrap">
			<h1 class="footer_logo"><a href="/"><img
						src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/logo.svg"
						alt=""><span class="blind">pointave</span></a></h1>
			<div class="footer_sitemap">
				<ul class="footer_sitemap_menu">
					<li class="footer_menu_item--go">
						<a href="/about-us">ABOUT US</a>
						<ul>
							<li><a href="javascript:void(0);" class="contact_pop_btn">Contact Us</a></li>
							<li><a href="/careers">Careers</a></li>
							<li><a href="/news">News</a></li>
							<li><a href="/tv">Point Avenue TV</a></li>
						</ul>
					</li>
					<li class="footer_menu_item--go">
						<a href="/programs/all-courses">PROGRAMS</a>
						<ul>
							<li><a href="/programs/all-courses">All Courses</a></li>
							<li><a href="/programs/elementary-courses">Elementary Courses</a></li>
							<li><a href="https://www.pointavenue.com/programs/middle-school-courses">Middle & High
									School Courses</a></li>
							<li><a href="/programs/debate-courses">Debate Courses</a></li>
							<li><a href="/programs/test-preparation-courses">Test Preparation Courses</a></li>
						</ul>
					</li>
					<li class="footer_menu_item">
						<a href="javascript:void(0);">CAMP</a>
						<ul>
							<li><a href="https://www.pointavenue.asia/leaders-camp">Summer Boarding Camp</a></li>
							<li><a href="https://www.pointavenue.asia/summer-day-camp-2024-eng">Summer Day Camp</a></li>
							<!-- <li><a href="/camp/winter-boarding-camp">Winter Boarding Camp</a></li>
									<li><a href="/camp/winter-day-camp">Winter Day Camp</a></li> -->
						</ul>
					</li>
					<li class="footer_menu_item--go">
						<a href="/admissions-consulting">ADMISSIONS CONSULTING</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer_etc_wrap">
			<div class="footer_etc">
				<p class="copyright">Copyright Ⓒ POINT AVENUE PTE COMPANY LIMITED. All Rights Reserved.</p>
				<div class="footer_sns_menu">
					<ul>
						<li class="sns_icon_y"><a href="https://www.youtube.com/channel/UC5A3YP-6-Ir4UAIeCLA4SzQ"
								target="_blank"><span class="blind">youtube</span></a></li>
						<li class="sns_icon_f"><a href="https://www.facebook.com/PointAvenue/" target="_blank"><span
									class="blind">facebook</span></a></li>
						<li class="sns_icon_i"><a href="https://www.instagram.com/point.avenue/" target="_blank"><span
									class="blind">instagram</span></a></li>
						<li class="sns_icon_l"><a href="https://www.linkedin.com/company/pointavenue/"
								target="_blank"><span class="blind">likeduin</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>