<footer>
	<div class="footer_inner">
		<div class="footer_info_wrap">
			<h1 class="footer_logo"><a href="/"><img
						src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/logo.svg"
						alt=""><span class="blind">pointave</span></a></h1>
			<div class="footer_sitemap">
				<ul class="footer_sitemap_menu">
					<li class="footer_menu_item--go">
						<a href="/vn/about-us">VỀ CHÚNG TÔI</a>
						<ul>
							<li><a href="javascript:void(0);" class="contact_pop_btn">Liên hệ</a></li>
							<!-- <li><a href="/scholarship">Scholarship</a></li> -->
							<li><a href="/vn/careers">Tuyển dụng</a></li>
							<li><a href="/vn/news">Tin tức</a></li>
							<li><a href="/vn/policy">Chính sách bảo mật</a></li>
							<li><a href="/vn/tv">Point Avenue TV</a></li>
						</ul>
					</li>
					<li class="footer_menu_item--go">
						<a href="/vn/programs/all-courses">CHƯƠNG TRÌNH</a>
						<ul>
							<li><a href="/vn/programs/all-courses">Tất cả khóa học</a></li>
							<li><a href="/vn/programs/elementary-courses">Chương trình Tiểu học</a></li>
							<li><a href="https://www.pointavenue.com/programs/middle-school-courses">Chương trình Trung
									học</a></li>
							<li><a href="/vn/programs/debate-courses">Chương trình Tranh biện</a></li>
							<li><a href="/vn/programs/test-preparation-courses">Chương trình Luyện thi Quốc tế</a></li>
						</ul>
					</li>
					<li class="footer_menu_item">
						<a href="javascript:void(0);">TRẠI HÈ/ TRẠI ĐÔNG</a>
						<ul>
							<li><a href="https://www.pointavenue.asia/leaders-camp">Trại hè nội trú</a></li>
							<li><a href="https://www.pointavenue.asia/summer-day-camp-2024">Trại hè bán trú</a></li>

							<!-- <li><a href="/camp/winter-boarding-camp">Winter Boarding Camp</a></li>
									<li><a href="/camp/winter-day-camp">Winter Day Camp</a></li> -->
						</ul>
					</li>
					<li class="footer_menu_item--go">
						<a href="/vn/admissions-consulting">TƯ VẤN DU HỌC</a>
						<ul>
							<li><a href="https://www.pointavenuescholarship.site/2021scholarships" target="_blank">Học
									bổng Point Avenue 2021</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer_etc_wrap">
			<div class="footer_etc">
				<p class="copyright">Copyright Ⓒ POINT AVENUE PTE COMPANY LIMITED. All Rights Reserved.</p>
				<div class="footer_sns_menu">
					<ul>
						<li class="sns_icon_y"><a href="https://www.youtube.com/channel/UC5A3YP-6-Ir4UAIeCLA4SzQ"
								target="_blank"><span class="blind">youtube</span></a></li>
						<li class="sns_icon_f"><a href="https://www.facebook.com/PointAvenue/" target="_blank"><span
									class="blind">facebook</span></a></li>
						<li class="sns_icon_i"><a href="https://www.instagram.com/point.avenue/" target="_blank"><span
									class="blind">instagram</span></a></li>
						<li class="sns_icon_l"><a href="https://www.linkedin.com/company/pointavenue/"
								target="_blank"><span class="blind">likeduin</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>