<div class="locations_cont">
  <div class="swiper-container">
    <ul class="swiper-wrapper locations_list">
      <li class="swiper-slide locations_item">
        <p class="title_r_03 locations_title Montserrat">CƠ SỞ CẦU GIẤY</p>
        <div class="locations_text">
          <p class="address Montserrat">
            Tầng 2 & 3 Toà CT1, Yên Hoà Park View, Phường Yên Hoà, Quận Cầu
            Giấy, Hà Nội
          </p>
          <p class="tel Montserrat">
            <span> 024 6295 9508 </span>
          </p>
        </div>
      </li>
      <li class="swiper-slide locations_item">
        <p class="title_r_03 locations_title Montserrat">CƠ SỞ LONG BIÊN</p>
        <div class="locations_text">
          <p class="address Montserrat">
            60 Chu Huy Mân, Khu đô thị Sài Đồng, Phường Phúc Đồng, Quận Long
            Biên, Hà Nội
          </p>
          <p class="tel Montserrat">
            <span> +84 24 3204 7055, +84 24 3204 7366</span>
          </p>
          <p class="hours Montserrat">
            <span> Monday to Friday: 9h00 am - 9h00 pm
              Saturday and Sunday: 8:30 am - 5:30 pm</span>
          </p>
        </div>
      </li>
    </ul>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
